
<h2>Vyplnit účastnickou částku</h2>

{form formAddPaymentMass}
<ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
</ul>
<div style="line-height: 1.8em">
    <b>{label sum/}</b> {input sum}<b> Kč</b><br />
    <b>{label rewrite/}</b>{input rewrite}
    {input aid}
    <div style="padding-left: 50px">{input send}</div>
</div>    
{/form}
    
    