{block content}
{include ../ActionMenu.latte}
<div class="row">
    <div class="col-sm-12 main-panel">
        <div class="panel panel-default">
            <div class="panel-heading" n:inner-block="title">Upravit platbu</div>
            <div class="panel-body">
                {control paymentForm}
            </div>
        </div>
    </div>
</div>
