<a href="{plink cancel! $item['ID']}"
   title="Smazat"
   class="btn btn-xs btn-danger ajax"
   data-cancel-event="{$item['DisplayName']}"
   data-datagrid-confirm="Opravdu chcete zrušit akci {$item['DisplayName']}?">
        <span class="fa fa-trash"></span>
</a>
