{extends $original_template}

{define col-state}
    {var $state = $item->state}

    {if $state === "draft"}
        <span class="label label-warning">Rozpracováno</span>
    {elseif $state === "closed"}
        <span class="label label-success">Uzavřeno</span>
    {elseif $state === "cancelled"}
        <span class="label label-default">Zrušeno</span>
    {/if}
{/define}

{define col-displayName}
    <a href="{plink Event:default $item->id->toInt()}">{$item->displayName}</a>
{/define}

{block group_actions}
    <div class="hidden">
        {foreach $filter['group_action']->getControls() as $form_control}
            {if $form_control instanceof \Nette\Forms\Controls\SubmitButton}
                {input $form_control, class => 'btn btn-primary btn-sm', style => 'display:none'}
            {elseif $form_control->getName() == 'group_action'}
                {input $form_control, class => 'form-control input-sm', disabled => TRUE}
            {else}
                {input $form_control, style => 'display:none'}
            {/if}
        {/foreach}
    </div>

    {if $control->shouldShowSelectedRowsCount()}
        <span class="datagrid-selected-rows-count"></span>
    {/if}
{/block}
