<a href="{plink cancel! $item->id->toInt()}"
   title="Smazat"
   class="btn btn-xs btn-danger ajax"
   data-cancel-event="{$item->displayName}"
   data-datagrid-confirm="Opravdu chcete zrušit akci {$item->displayName}?">
        <span class="fa fa-trash"></span>
</a>
