Dobrý den,

vámi nahlášený problém #{$reportId} ve Skautském hospodaření byl uzavřen bez opravy.

Důvod uzavření:
{$messageText}

Původní hlášení:
{$description}

URL chyby: {$reportedUrl ?? '-'}

Děkujeme za nahlášení.
Skautské hospodaření
