Dobrý den,

děkujeme za váš zájem o předběžný přístup k fakturaci ve Skautském hospodaření.

Vaši žádost jsme přijali. Přístup vám udělíme, jakmile to bude technicky možné. O zpřístupnění fakturace vás budeme informovat e-mailem.

Fakturace je aktuálně v beta provozu. Po vytvoření si prosím faktury pro jistotu ukládejte také mimo systém. Rozložení prvků, jednotlivé kroky a celý proces práce s fakturami se ještě mohou měnit na základě uživatelských podnětů.

S pozdravem
Skautské hospodaření
