Dobrý den,

váš předběžný přístup k fakturaci ve Skautském hospodaření byl schválen.

Fakturace je nyní ve vašem účtu dostupná. Můžete ji otevřít po přihlášení v části Platby -> Faktury.

S pozdravem
Skautské hospodaření
