Dobrý den,

posíláme odpověď k vámi nahlášenému problému #{$reportId} ve Skautském hospodaření.

Zpráva administrátora:
{$messageText}

Původní hlášení:
{$description}

URL chyby: {$reportedUrl ?? '-'}

Skautské hospodaření
