CACHE MANIFEST
#rev20
offline/
offline/out.html
offline/in.html
images/bootstrap/glyphicons-halflings.png
images/bootstrap/glyphicons-halflings-white.png
images/jqueryui/ui-icons_217bc0_256x240.png
images/jqueryui/ui-icons_d8e7f3_256x240.png
images/layout/delete.gif
images/logo57.png
{$css}
css/offline.css
{$js} 