<link rel="stylesheet" type="text/css" media="screen" href="{$baseUri}/css/offline.css" />

<ul class="nav">
    <li {ifCurrent list}class='active'{/ifCurrent}><a n:href="list"><i class="glyphicon glyphicon-list"></i> <span class="hidden-xs hidden-sm">Seznam</span></a></li>
    <li {ifCurrent out}class='active'{/ifCurrent}><a n:href="out"><i class="glyphicon glyphicon-arrow-down"></i> <span class="hidden-xs hidden-sm">Výdaj</span></a></li>
    <li {ifCurrent in}class='active'{/ifCurrent}><a n:href="in"><i class="glyphicon glyphicon-arrow-up"></i> <span class="hidden-xs hidden-sm">Příjem</span></a></li>
    <li {ifCurrent sync}class='active'{/ifCurrent} n:if="$user->isLoggedIn()"><a n:href="sync"><i class="glyphicon glyphicon-random"></i> <span class="hidden-xs hidden-sm">Synchronizovat</span></a></li>
</ul>