/www/webtemp
/www/images
htaccess
/app/config/config.*.neon
!/app/config/config.sample.local.neon
!/vendor/others
/vendor
temp/*
log/*
/source
/nbproject
.idea
*.log
deployment.*
/www/*.json
/archiv
!.htaccess
