*.zip
*.rar
*.log
*.db
.DS_Store*

nbproject/*
/TODO/*
/DATA/*
/libs/mpdf/*
/libs/Nette/*
/app/temp/*
/app/log/*
/source/*
/webtemp/
adminer.php
BP.tex
/latex/BP*
/latexOld/BP*
!/latex/BP.tex
!/latexOld/BP.tex
