version: '2'

services:
    app:
        container_name: hskauting.app
        image: fmasa/lebeda:7.1
        volumes:
            - www:/var/www
            - .:/var/www/html
            - /var/www/html/nette-temp
        environment:
            DEVELOPMENT_MACHINE: 'true'
        networks:
            main:
                aliases:
                    - hospodareni.loc

    mysql:
        container_name: hskauting.mysql
        image: mysql:5.7
        volumes:
            - mysql:/var/lib/mysql
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
            MYSQL_DATABASE: hskauting
        networks:
            main:
                aliases:
                    - mysql

    phantom:
        container_name: hskauting.phantom
        image: davert/phantomjs-env
        networks:
            main:
                aliases:
                    - phantom
        command: phantomjs --webdriver=4444 --ssl-protocol=any --ignore-ssl-errors=true

    smtp:
        container_name: hskauting.smtp
        image: tophfr/mailcatcher
        environment:
            SMTP_HOST: smtp-hospodareni.loc
        networks:
            main:
                aliases:
                    - smtp-hospodareni.loc
        ports:
            - 1080:1080

volumes:
    mysql:
    www:

networks:
    main:
