parameters:
    autoload_directories:
        - %rootDir%/../../../app
        - %rootDir%/../../../tests
        - %rootDir%/../../../vendor/others
        - %rootDir%/../../../code-quality

includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-dibi/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

services:
	- class: MandatoryVoidRule
	  tags: [ phpstan.rules.rule ]
	- class: SkautisAliasesExtension
	  tags: [ phpstan.broker.propertiesClassReflectionExtension ]
	- class: SkautisWebserviceMagicMethodsExtension
	  tags: [ phpstan.broker.methodsClassReflectionExtension ]

	#
	# Dynamic method return types
	#
	- class: WorksheetDynamicReturnTypeExtension
	  tags: [ phpstan.broker.dynamicMethodReturnTypeExtension ]
	- class: CodeQuality\PresenterDynamicReturnTypeExtension
	  tags: [ phpstan.broker.dynamicMethodReturnTypeExtension ]
