parameters:
    autoload_directories:
        - %rootDir%/../../../app
        - %rootDir%/../../../tests
        - %rootDir%/../../../code-quality

    ignoreErrors:
        # Errors related mostly to usage of assert($x instanceof A || $x === null) and similar asserts
        - '~Result of && is always true\.~'

includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

services:
	- class: CodeQuality\ObjectIdentityComparisonRule
	  tags: [ phpstan.rules.rule ]

	- class: SkautisAliasesExtension
	  tags: [ phpstan.broker.propertiesClassReflectionExtension ]

	- class: CodeQuality\SkautisWebserviceMagicMethodsExtension
	  tags: [ phpstan.broker.methodsClassReflectionExtension ]

	- class: CodeQuality\QueryBusDynamicReturnTypeProvider
	  arguments:
	      - %autoload_directories%
	      - %rootDir%/../../../temp
	      - '~^.*QueryHandlers\\.*Handler$~'

	  tags: [ phpstan.broker.dynamicMethodReturnTypeExtension ]

	- class: UnusedMoneyMethodResultRule
	  tags: [ phpstan.rules.rule ]

	#
	# Dynamic method return types
	#
	- class: CodeQuality\PresenterDynamicReturnTypeExtension
	  tags: [ phpstan.broker.dynamicMethodReturnTypeExtension ]
