{extends $baseTemplate}

{block filters}
    {include #filter-type-select name => 'year', label => 'Rok', icon => 'fas fa-calendar'}
{/block}

{define col-displayName}
    <a href="{plink Education:default $item->getId()}">{$item->getName()}</a>
{/define}
