{extends $originalTemplate}

{block filters}
    {include #filter-type-search}
    {include #filter-type-select name => 'year', label => 'Rok', icon => 'fas fa-calendar'}
    {include #filter-type-select name => 'state', label => 'Stav'}
{/block}

{block global-actions}
    <span n:tag-if="count($rows) === 0"
        title="Nebyly nalezeny žádné tábory"
        class="d-inline-block"
        data-toggle="tooltip"
        data-placement="bottom">
            <a href="{plink exportDialog:open!}" n:class="count($rows) === 0 ? disabled, btn, btn-light, ajax, mb-2" data-naja-history="off">
                <i class="fas fa-arrow-down"></i>
                Exportovat&hellip;
            </a>
    </span>
{/block}

{define col-displayName}
    <a href="{plink Detail:default $item->id->toInt()}">{$item->displayName}</a>
{/define}

{define col-state}
    {$item->getState()|campStateLabel|noescape}
{/define}
