{extends $baseTemplate}

{block filters}
    {include #filter-type-search, searchLabel: 'Hledat vzdělávací akci'}
    {include #filter-type-select name => 'year', label => 'Rok', icon => 'fi fi-rr-calendar'}
{/block}
