{extends '../../../templates/@layout.latte'}

{block content}
<div class="d-grid gap-3 mt-4" data-test="education-default-page">
    <div class="card page-heading">
        <div class="card-body">
            <h1 n:inner-block="title" class="h3 mb-2">Seznam vzdělávaček</h1>
            {include pageLead, default: 'Přehled vzdělávacích akcí, jejich stavu a návazných finančních podkladů.'}
        </div>
    </div>

    {control grid}
</div>
{/block}
