{*
$aid
$participants
$isAllowParticipantUpdate
$isAllowParticipantDelete
$isAllowRepayment
$isAllowIsAccount
$showUnits bool - zobrazovat číslo jednotky
*}
{snippet participants}
    {form formMassParticipants}
        <div n:if="$isAllowParticipantUpdate" class="modal myModal fade" id="massEdit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hromadné nastavení</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> &times; </span></button>
                    </div>

                    {formContainer edit}
                        <div class="modal-body">
                            <div class="form-group">
                                <label n:name="days"/>
                                <input n:name="days" class="form-control">
                            </div>

                            <div class="form-group">
                                <label n:name="payment"/>
                                <input n:name="payment" class="form-control">
                            </div>

                            <div class="form-group" n:if="$isAllowRepayment">
                                <label n:name="repayment"/>
                                <input n:name="repayment" class="form-control">
                            </div>

                            <div class="form-group" n:if="$isAllowIsAccount">
                                <label n:name="isAccount"/>
                                <div n:foreach="$form['edit']['isAccount']->items as $key => $label" class="form-check">
                                    <label>
                                        <input class="form-check-input" n:name="isAccount:$key">
                                        {$label}
                                    </label>
                                </div>
                            </div>

                            <input n:name="send" class="btn btn-primary">
                        </div>
                    {/formContainer}
                </div>
            </div>
        </div>

    {var $tabIndex = 1}
        <div n:ifset="$participants">
            <h2 class="mb-3">Seznam účastníků</h2>
            {var $participantsNames = []}

            <div class="d-flex mb-2">
                <div class="dropdown d-inline-block mr-auto">
                    <button n:class="btn, btn-light, dropdown-toggle, empty($participants) ? 'disabled'"
                            n:attr="[disabled => empty($participants)]"
                            id="exportParticipantsButton"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fas fa-arrow-down"></i> Exportovat&hellip;
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exportParticipantsButton">
                        <a class="dropdown-item" href="{plink export $aid}">
                            <span class="mr-1"><i class="far fa-file-pdf"></i></span> PDF
                        </a>
                        <a class="dropdown-item" href="{plink exportExcel $aid}">
                            <span class="mr-1"><i class="far fa-file-excel"></i></span>
                            Excel
                        </a>
                    </div>
                </div>
                <span class="dropdown mr-2">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fas fa-sort-amount-down"></i> {$sortOptions[$sort]}
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" n:inner-foreach="$sortOptions as $id => $label">
                        <a n:href="sort $id" class="dropdown-item ajax">{$label}</a>
                    </div>
                </span>
                <a n:href="showUnits !$showUnits" class='btn btn-light ajax'>
                    <i n:class="fas, $showUnits ? 'fa-eye' : 'fa-eye-slash'"></i>
                    {$showUnits ? 'Skrýt' : 'Zobrazit'} jednotku
                </a>
            </div>

            <div class="small">&nbsp;</div>

            <table id="participants-list" class="table table-striped table-condensed table-bordered">
                <thead class="onlyWithParticipants">
                <tr>
                    <th n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete" class="text-center">
                        <input type="checkbox"
                               class="allParticipantCheckbox"
                               data-dependent-checkboxes=".participantCheckbox"
                               data-toggle-checked=".participantList-groupActions"
                               data-toggle-unchecked=".participantList-th">
                    </th>
                    <th data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox">Příjmení a jméno ({= count($participants)})</th>
                    <th n:if="$showUnits" data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox">Jednotka</th>
                    <th data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox">Dnů</th>
                    <th data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox">Částka</th>
                    <th n:if="$isAllowRepayment" data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox">Vratka</th>
                    <th n:if="$isAllowIsAccount" data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox">Na účet?</th>
                    <th n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete" data-visible-if-not-checked=".participantCheckboxInput, .allParticipantCheckbox"></th>
                    <th n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete"
                            data-visible-if-checked=".participantCheckboxInput, .allParticipantCheckbox" colspan="4" class="text-right">
                        <a n:if="$isAllowParticipantUpdate"
                                href="#massEdit"
                                data-toggle="modal"
                                class="btn btn-light btn-sm">
                            <i class="far fa-edit"></i>
                            Upravit vybrané
                        </a>
                        <button n:if="$isAllowParticipantDelete"
                                n:name="send"
                                class="btn btn-danger btn-sm"
                                data-confirm="Opravdu chcete smazat vybrané?"
                                type="submit">
                            <i class="far fa-trash-alt"></i>
                            Odebrat vybrané
                        </button>
                    </th>
                </tr>
                </thead>
                {var $totalPayment = $totalRepayment = 0}
                {if !empty($participants)}
                    <tr n:foreach="$participants as $p" id='par-list-row-{$p->id}' data-pid='{$p->id}'>
                        {php $participantsNames[] = $p->displayName}
                        <td n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete" class="text-center participantCheckbox">
                            <input n:name="participantIds:$p->id" class="participantCheckboxInput">
                        </td>
                        <td><label for="massParticipants-{$p->id}">{$p->displayName}</label></td>
                        <td n:if="$showUnits">{ifset $p->unitRegistrationNumber}{$p->unitRegistrationNumber}{/ifset}</td>
                        <td class="text-right">{$p->days}</td>
                        <td class="text-right">{$p->payment|price:false}{php $totalPayment += $p->payment}</td>
                        <td class="text-right" n:if="$isAllowRepayment">{$p->repayment|price:false}{php $totalRepayment += $p->repayment}</td>
                        <td n:if="$isAllowIsAccount">{$p->onAccount === 'Y' ? 'Ano'}</td>
                        <td n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete" class="text-right text-nowrap">
                            <a n:if="$isAllowParticipantUpdate"
                                    n:href="edit! $p->id"
                                    class="btn btn-light btn-sm ajax"
                                    title="Upravit účastníka">
                                <i class="far fa-edit"></i>
                            </a>
                            <a n:if="$isAllowParticipantDelete" n:href="remove! $p->id" class="btn btn-danger btn-sm ajax"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <tr>
                        {var $total = $totalPayment - $totalRepayment}
                        <td colspan="{$showUnits ? 4 : 3}" class="b">Celkem: {= count($participants)} osob</td>
                        <td n:if="$isAllowRepayment" class="text-right" id="payment-total">{$totalPayment}</td>
                        <td n:if="$isAllowIsAccount" class="text-right" id="repayment-total">{$totalRepayment}</td>
                        {if !$isAllowRepayment}
                            <td class="font-weight-bold text-right"><span id="total-total">{$total}</span></td>
                            <td></td>
                        {else}
                        <td n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete"></td>
                    </tr>
                    <tr>
                        <td colspan="{if $showUnits}4{else}3{/if}"></td>
                        <td colspan="3" class="font-weight-bold text-right"><span id="total-total">{$total}</span></td>
                        <td n:if="$isAllowParticipantUpdate || $isAllowParticipantDelete"></td>
                        {/if}
                    </tr>
                {else}
                    <tr class="text-center"><td colspan="5"><b>Nejsou vybráni žádní účastníci.</b></td></tr>
                {/if}
            </table>
        </div>
    {/form}
{/snippet}

{control editDialog}


