{block #content}
<h1 n:inner-block="title" class="mb-4">Založení rozpočtové kategorie</h1>

<div class="alert alert-info">
    <b>Kategorie bez nadřazené kategorie</b> pouze sdružují kategorie pod sebou.<br/>
    <b>Podřízené kategorie</b> pak obsahují částku a lze do nich přidávat paragony.
</div>

<div class="row">
    <div class="col-md-6" n:snippet>
        {control addCategoryForm}
    </div>
</div>
