{block #title}Cestovní příkazy jednotky {$unit->DisplayName}{/block}
{block #content}
    <h2>Cestovní příkazy <span class="hidden-xs hidden-sm">jednotky {$unit->DisplayName}</span></h2>
{include ../menu.latte}


<div class="button-bar">
    <a n:href="Command:" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Založit cestovní příkaz
    </a>
    <div class="clearfix"></div>
</div>
{snippet}
    {control grid}
{/snippet}
