
<div>
    {control formEditTravel}
</div>
{* zajistuje formatovani a spravnou funkci datePickeru *}
{control js 'jquery-v1.11.1.js',
        'jquery-ui-1.10.0.custom.min.js',
        'my-datePicker.js'}

