<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <label n:name="filter-state">Stav</label>
        </div>
    </div>
    <select n:name="filter-state" class="form-control custom-select"/>
</div>
