parameters:
    mappingDir: %appDir%/model/Infrastructure/mapping
    domainModelDir: %appDir%/model

extensions:
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    events: Kdyby\Events\DI\EventsExtension
    kdyby.annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
    host: %database.host%
    user: %database.user%
    password: %database.password%
    dbname: %database.name%

    schemaFilter: '~^(?!ac_object)~'

    metadata:
        Model\Cashbook: %domainModelDir%/Cashbook
        Model\Logger: %domainModelDir%/Logger
        Model\Payment: %domainModelDir%/Payment
        Model\Travel: %domainModelDir%/Travel
        Model\Budget: %domainModelDir%/Budget
        Model\Participant: %domainModelDir%/Participant
        Model\Google: %domainModelDir%/Google
    types:
        string_enum: Consistence\Doctrine\Enum\Type\StringEnumType
        money: Model\Infrastructure\Types\MoneyType
        variable_symbol: Model\Infrastructure\Types\VariableSymbolType
        chit_number: Model\Infrastructure\Types\ChitNumberType
        recipient: Model\Infrastructure\Types\RecipientType
        chronos_date: Warhuhn\Doctrine\DBAL\Types\ChronosDateType
        cashbook_id: Model\Infrastructure\Types\CashbookIdType
        unit_id: Model\Infrastructure\Types\UnitIdType
        payment_id: Model\Infrastructure\Types\PaymentIdType
        file_path: Model\Infrastructure\Types\FilePathType
        oauth_id: Model\Infrastructure\Types\OAuthIdType
        - Model\Infrastructure\Types\TransportTypeListType
    dql:
        string:
            field: DoctrineExtensions\Query\Mysql\Field

    secondLevelCache:
        enabled: true

services:
    annotationsListener: Consistence\Doctrine\Enum\EnumPostLoadEntityListener(@kdyby.annotations.reader)

    - class: Model\Infrastructure\EnumListener
      arguments: [@annotationsListener]
      tags: [kdyby.subscriber]

    - class: Fmasa\DoctrineNullableEmbeddables\Subscriber
      arguments: { reader: @kdyby.annotations.reader }
      tags: [kdyby.subscriber]

decorator:
    Symfony\Component\Console\Command\Command:
        tags: [ kdyby.console.command ]

    Symfony\Component\Console\Helper\Helper:
        tags: [ kdyby.console.helper ]

    Doctrine\Migrations\Configuration\Configuration:
        setup:
            - setCheckDatabasePlatform(false)
