parameters:
    mappingDir: %appDir%/model/Infrastructure/mapping
    domainModelDir: %appDir%/model

extensions:
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    dbal: Nettrine\DBAL\DI\DbalExtension
    doctrineCache: Nettrine\Cache\DI\CacheExtension

migrations:
    directory: %appDir%/../migrations

dbal:
    debug:
        panel: %debugMode%

    connection:
        host: %database.host%
        user: %database.user%
        password: %database.password%
        dbname: %database.name%
        serverVersion: 8.0
        driver: pdo_mysql

        types:
            string_enum:
                class: Consistence\Doctrine\Enum\Type\StringEnumType
                commented: true
            money:
                class: Model\Infrastructure\Types\MoneyType
                commented: true
            variable_symbol:
                class: Model\Infrastructure\Types\VariableSymbolType
                commented: true
            chit_number:
                class: Model\Infrastructure\Types\ChitNumberType
                commented: true
            recipient:
                class: Model\Infrastructure\Types\RecipientType
                commented: true
            chronos_date:
                class: Warhuhn\Doctrine\DBAL\Types\ChronosDateType
                commented: true
            cashbook_id:
                class: Model\Infrastructure\Types\CashbookIdType
                commented: true
            unit_id:
                class: Model\Infrastructure\Types\UnitIdType
                commented: true
            payment_id:
                class: Model\Infrastructure\Types\PaymentIdType
                commented: true
            file_path:
                class: Model\Infrastructure\Types\FilePathType
                commented: true
            oauth_id:
                class: Model\Infrastructure\Types\OAuthIdType
                commented: true
            transport_types:
                class: Model\Infrastructure\Types\TransportTypeListType
                commented: true
            email_address:
                class: Model\Infrastructure\Types\EmailAddressType
                commented: true
            skautis_event_id:
                class: Model\Infrastructure\Types\SkautisEventIdType
                commented: true
            skautis_camp_id:
                class: Model\Infrastructure\Types\SkautisCampIdType
                commented: true

services:
    - Model\Infrastructure\EntityManagerFactory(%debugMode%, %tempDir%)
    - @Model\Infrastructure\EntityManagerFactory::create()

    - factory: Doctrine\ORM\Tools\Console\Command\GenerateProxiesCommand
      tags: { console.command: orm:generate-proxies }
    - factory: Doctrine\ORM\Tools\Console\Command\ValidateSchemaCommand
      tags: { console.command: orm:validate-schema }

decorator:
    Doctrine\Migrations\Configuration\Configuration:
        setup:
            - setCheckDatabasePlatform(false)
