{block #content}
<h2 n:block="title">Nastavení účtu {$detail->username}</h2>
{include ../ActionMenu.latte}
{dump $detail}
<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Už. jméno</th>
                <td>{$detail->username}</td>
            </tr>
            <tr>
                <th>Host</th>
                <td>{$detail->host}</td>
            </tr>
        </table>
    </div>
</div>
            
