services:
    - implement: App\AccountancyModule\EventModule\Factories\IFunctionsControlFactory
      arguments: { eventEntity: @eventService }
    - App\AccountancyModule\PaymentModule\Factories\IMassAddFormFactory
    - App\AccountancyModule\PaymentModule\Factories\IPairButtonFactory
    - App\AccountancyModule\TravelModule\Factories\ICommandFormFactory
    - App\AccountancyModule\TravelModule\Factories\ICommandGridFactory
    - App\AccountancyModule\TravelModule\Factories\IVehicleGridFactory

    # Presenters
    - App\AccountancyModule\PaymentModule\GroupPresenter(camp: @campService)
    - App\OfflinePresenter(eventService: @eventService)
