#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

nette:
    session:
        autoStart: smart
        expiration: "+ 3 days"
    application:
        errorPresenter: Error
        #catchExceptions: true
        mapping:
            *: App\*Module\*Presenter
    debugger:
        email: %sinacek@gmail.com%
        strictMode: TRUE
        maxDepth: 6
        maxLen: 500

extensions:
    skautis: Skautis\Nette\SkautisExtension
    dibi: Dibi\Bridges\Nette\DibiExtension22
    

services:
    #router: Nette\Application\Routers\SimpleRouter('App:Default:default')
    - App\RouterFactory
    - \Model\PaymentService
    - \Model\MailService(NULL, @dibi.connection, %sendEmail%)
    - \Model\BankService(@cacheStorage, @dibi.connection)
    router: @App\RouterFactory::createRouter
    #connection:
    #    class: DibiConnection
    #    factory: dibi::connect(%database%)
    #    run: TRUE
    - \Model\AuthService
    eventService:
        class: Model\EventEntity("General", "EventGeneral", @skautis.skautis, @cacheStorage, @dibi.connection)
    campService:
        class: Model\EventEntity("Camp", "Camp", @skautis.skautis, @cacheStorage, @dibi.connection)
    unitAccountService:
        class: Model\EventEntity("Unit", "Unit", @skautis.skautis, @cacheStorage, @dibi.connection)
    - \Model\MemberService
    - \Model\UnitService
    - \Model\UserService
    - \Model\TravelService
    - \Model\ExportService
    - \Model\ExcelService
    - \Model\BudgetService