parameters:
    uploadDirectory: %appDir%/../uploads
    testBackground: false

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

session:
    autoStart: smart
    expiration: "+ 3 days"
application:
    errorPresenter: Error
    #catchExceptions: true
    mapping:
        *: App\*Module\*Presenter
    debugger:
        email:
            - sinacek@gmail.com
            - frantisekmasa1@gmail.com
        strictMode: TRUE
        maxDepth: 6
        maxLen: 500
tracy:
    bar:
        - Nextras\MailPanel\MailPanel(%tempDir%/mail-panel-latte)

console:
    url: https://h.skauting.cz
    helperSet: Doctrine\ORM\Tools\Console\ConsoleRunner::createHelperSet()

messageBus:
    commandBus:
    	middlewares:
    		before:
    			-  SimpleBus\Message\Logging\LoggingMiddleware(level: 'debug')
    eventBus:
    queryBus:

extensions:
    autoDI: Fmasa\AutoDI\DI\AutoDIExtension
    skautis: Skautis\Nette\SkautisExtension
    messageBus: eGen\MessageBus\DI\MessageBusExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

autoDI:
    services:
        # Main model facades
        - class: Model\**Service
          exclude: 'Model\{Event,Chit,Participant}Service' # mutable services

        # Domain services
        - class: Model\*\Services\**

        # Aggregate repositories
        - class: Model\Infrastructure\Repositories\**Repository

        # Old repository namespaces - deprecated
        - class: Model\**\Repositories\*Repository

        # Domain event subscribers
        - class: Model\*\Subscribers\*Subscriber
          tags: [eventBus.subscriber]

        # Skautis communication related services
        - class: Model\Skautis\**
          exclude:
              - Model\Skautis\WebserviceFactory
              - Model\Skautis\ReadModel\Queries\**

        # Utility services
        - class: Model\Services\**
search:
    command handlers:
       in: %appDir%
       classes: Model\**\Handlers\**Handler
       tags: [commandBus.handler]

    query handlers:
       in: %appDir%
       classes: Model\**\ReadModel\**Handler
       tags: [queryBus.handler]

services:
    skautisCache:
        factory: Nette\Caching\Cache(namespace: 'skautis')
        autowired: false

    - App\Context(
          appDir: %appDir%
          wwwDir: %wwwDir%
          productionMode: %productionMode%
          showTestBackground: %testBackground%
      )
    - App\RouterFactory

    - Model\Cashbook\ReadModel\SpreadsheetFactory
    - Model\Cashbook\ReadModel\QueryHandlers\Pdf\SheetChitsGenerator

    - factory: Model\Event\ReadModel\QueryHandlers\EventScopesHandler(@skautis.event, @skautisCache)
      tags: [queryBus.handler]

    - factory: Model\Event\ReadModel\QueryHandlers\EventTypesHandler(@skautis.event, @skautisCache)
      tags: [queryBus.handler]

    - factory: Model\Event\ReadModel\QueryHandlers\CampStatesHandler(@skautis.event, @skautisCache)
      tags: [queryBus.handler]

    - factory: Model\Event\ReadModel\QueryHandlers\EventStatesHandler(@skautis.event, @skautisCache)
      tags: [queryBus.handler]

    - Model\Services\PdfRenderer(%tempDir%)

    - Model\PaymentService
    - Model\Payment\BankAccountService(fioCache: @fio.cache)

    - Model\Google\GoogleService(%google.credentials%, %google.redirectUri%)

    - GuzzleHttp\Client({ timeout: 3 }) # used for API calls to FIO api

    fio.client:
        factory: Model\Bank\Fio\FioClient
        autowired: false
    fio.cache: Nette\Caching\Cache
    - Model\Payment\Fio\CachingClientDecorator(@fio.client, @fio.cache)
    - Model\Bank\Fio\DownloaderFactory

    router: @App\RouterFactory::createRouter

    - Model\ParticipantService
    - Model\Skautis\Factory\EventFactory
    - Model\StatisticsService

    # Model
    - Model\Skautis\Auth\SkautisAuthorizator(@skautis.webservice.user)

    # Skautis repositories
    unitRepository:
        factory: Model\Skautis\UnitRepository(@skautis.org)
        autowired: false
    - Model\Infrastructure\Services\Unit\CachedUnitRepository(@unitRepository)
    - Model\Skautis\Common\Repositories\UserRepository(@skautis.webservice.user, @skautis.org)
    - Model\Skautis\EventRepository(@skautis.event)
    - Model\Skautis\CampRepository(@skautis.cached.event)
    - Model\Skautis\Cashbook\Repositories\CampCategoryRepository(@skautis.cached.event)
    - Model\Infrastructure\Repositories\Mail\GoogleRepository


    - factory: Model\Cashbook\ReadModel\QueryHandlers\EventParticipantListQueryHandler
      tags: [queryBus.handler]

    # Skautis read model
    - factory: Model\Skautis\ReadModel\QueryHandlers\CampBudgetQueryHandler(@skautis.cached.event)
      tags: [queryBus.handler]
    - factory: Model\Skautis\ReadModel\QueryHandlers\EventStatisticsQueryHandler(@skautis.cached.event)
      tags: [queryBus.handler]

    - League\Flysystem\Filesystem(League\Flysystem\Adapter\Local(%uploadDirectory%))
    - Model\Infrastructure\Services\Common\FlysystemScanStorage

    # Skautis webservices
    skautis.org: Model\Skautis\WebserviceFactory::createCached('org')
    skautis.event: Model\Skautis\WebserviceFactory::create('event')
    skautis.webservice.user: Model\Skautis\WebserviceFactory::createCached('user')
    skautis.cached.event: Model\Skautis\WebserviceFactory::createCached('event')

    nette.latteFactory:
        setup:
            - addFilter(null, [App\AccountancyModule\AccountancyHelpers, loader])

    @Skautis\Wsdl\WsdlManager:
        setup:
            - @Model\Infrastructure\Services\SkautisCallListener::register

    nette.mailer: Nextras\MailPanel\FileMailer(%tempDir%/mail-panel-mails)

    - Model\Mail\MailerFactory(@nette.mailer, %sendEmail%)

    - Model\Infrastructure\Log\UserContextProvider

    - factory: Monolog\Logger
      arguments:
          name: hskauting
          handlers: [] # We register handlers via setHandlers and pushHandler later
          processors:
              - Model\Infrastructure\Log\Monolog\UserContextProcessor()
              - Model\Infrastructure\Log\Monolog\FormContextProcessor()

    - factory: App\Console\LintLatte(%appDir%)
      tags: { console.command: app:lint-latte }

decorator:
    Monolog\Logger:
        setup:
            - pushHandler(Monolog\Handler\RotatingFileHandler(%logDir%/log.log, 90, Monolog\Logger::INFO))

    Doctrine\DBAL\Logging\LoggerChain:
        setup:
            - addLogger(Model\Infrastructure\SQLLogger())

includes:
    - model/doctrine.neon
    - components.neon
    - sentry.neon
