skautis:
     applicationId: 4cc8a3f6-1e11-4386-84c2-95d1e35f4dd1
     testMode: true

parameters:
    database:
        host: localhost
        name: test-h
        user: test-h
        password: "__CONFIG_DATABASE_PASSWORD__"

    sendEmail: true
    testBackground: true
