#
# These placeholders are defined in build.xml
#
skautis:
     applicationId: __CONFIG_SKAUTIS_APPLICATION_ID__
     testMode: false

parameters:
    database:
        host: localhost
        name: h
        user: h
        password: __CONFIG_DATABASE_PASSWORD__

    sendEmail: true
    sentry:
        dsn: __CONFIG_SENTRY_DSN__
        releaseHash: __CONFIG_RELEASE_HASH__

services:
    # Passes notices and warning to Monolog
    tracy.logger: Tracy\Bridges\Psr\PsrToTracyLoggerAdapter
