skautis:
     applicationId: '${config.skautis.applicationId}'
     testMode: ${config.skautis.testMode}

parameters:

    slack:
        url: "https://hooks.slack.com/services/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"

    database:
        host: '${config.database.host}'
        user: '${config.database.user}'
        password: '${config.database.password}'
        name: '${config.database.name}'

    sendEmail: true
    sentry:
        url: "https://4c569d4cbda54f908d83d4b4a1959826@sentry.io/1328535"

monolog:
    handlers:
        slackWebhook:
            class: Monolog\Handler\SlackWebhookHandler(%slack.url%)
        - Monolog\Handler\SyslogUdpHandler(logs6.papertrailapp.com, 21272, 8, Monolog\Logger::ERROR)
        - Monolog\Handler\RavenHandler(level: Monolog\Logger::ERROR)
        - Raven_Breadcrumbs_MonologHandler
        - Monolog\Handler\RotatingFileHandler(%logDir%/log.log, 90, Monolog\Logger::INFO)
    processors:
        - App\UserContextProcessor

services:
    - Raven_Client(%sentry.url%)
