application:
    catchExceptions: false
    debugger: true

skautis:
    applicationId: 48104fe2-b447-47f5-9a26-051c710da74e
    testMode: true

parameters:
    sendEmail: true
    testBackground: true

    google:
        credentials: "%appDir%/config/ci-google-credentials.json"
        redirectUri: http://moje-hospodareni.cz/google/token

    database:
        host: mysql-test
        user: root
        password: root
        name: hskauting

tracy:
    showBar: false

services:
    # Pro produkci
    # nette.mailer: Nette\Mail\SendmailMailer
