application:
    catchExceptions: false
    debugger: false

session:
    savePath: "%tempDir%/sessions"

services:
    fioTokenValidator:
        factory: App\Model\Bank\Services\CiFioTokenValidator([
            '1231231230/2010': 'acceptance-fio-token'
        ])
