application:
    catchExceptions: false
    debugger: true

skautis:
    applicationId: 48104fe2-b447-47f5-9a26-051c710da74e
    testMode: true

parameters:
    sendEmail: FALSE

    database:
        host: mysql
        user: root
        password:
        name: hskauting

    slack:
        url: null # Disable logging to slack

services:
    # Pro produkci
    # nette.mailer: Nette\Mail\SendmailMailer
