includes:
    - application.neon
    - extensions.neon
    - services.neon
    - skautis.neon
    - logging.neon
    - scheduler.neon
    - menu.neon
    - model/doctrine.neon
    - sentry.neon

parameters:
    appEnv: %envConfig.appEnv%
    appBaseUrl: %envConfig.appBaseUrl%
    uploadDirectory: %appDir%/../uploads
    sendEmail: %envConfig.sendEmail%
    errorEmails: %envConfig.errorEmails%
    testBackground: %envConfig.testBackground%
    environmentLabel: %envConfig.environmentLabel%
    environmentColor: %envConfig.environmentColor%
    tracyShowBar: %envConfig.tracyShowBar%
    adminAllowedUserIds: []
    invoiceAccessAllowedUserIds: []
    database: %envConfig.database%
    google:
        credentials: %envConfig.google.credentialsPath%
        redirectUri: %envConfig.google.redirectUri%
    githubIssues: %envConfig.github%
    sentry:
        dsn: %envConfig.sentry.dsn%
        releaseHash: %envConfig.sentry.releaseHash%
    skautisConfig: %envConfig.skautis%

php:
    date.timezone: Europe/Prague
    session.save_handler: files
    session.save_path: "%tempDir%/sessions"

session:
    autoStart: smart
    expiration: "+ 3 days"
    savePath: "%tempDir%/sessions"
