skautis:
     applicationId: "__CONFIG_SKAUTIS_APPLICATION_ID__"
     testMode: true

parameters:
    database:
        host: localhost
        name: test-h
        user: test-h
        password: "__CONFIG_DATABASE_PASSWORD__"

    sendEmail: true
    testBackground: true
