application:
    catchExceptions: false
    debugger: true

skautis:
    applicationId: 48104fe2-b447-47f5-9a26-051c710da74e
    testMode: true

#
# Fixes weird behavior when Session ID is regenerated in request with multipart body
#
session:
    savePath: "%tempDir%/sessions"

parameters:
    sendEmail: FALSE
    testBackground: TRUE

    google:
        credentials: "%appDir%/config/google-credentials.json"
        redirectUri: http://moje-hospodareni.cz/google/token

    database:
        host: mysql
        user: root
        password: root
        name: hskauting

services:
    # Pro produkci
    # nette.mailer: Nette\Mail\SendmailMailer
