parameters:
	routes:
		tabory:
			module: Camp
			presenters:
				ucastnici: Participants
				kniha: Cashbook
				rozpocet: Budget
			defaultPresenter: Default
		akce:
			module: Event
			presenters:
				ucastnici: Participant
				kniha: Cashbook
			defaultPresenter: Event
