parameters:
    sentry:
        dsn: null
        releaseHash: dev

services:
    - factory: Model\Infrastructure\Log\Sentry\HubFactory::create
      arguments:
          - %sentry.dsn%
          - [Model\Infrastructure\Log\UserContextEventProcessor()]
          - %sentry.releaseHash%
      setup:
          # Hub needs to be set as current, because RequestIntegration only works with current Hub
          - Sentry\State\Hub::setCurrent()

decorator:
    Monolog\Logger:
        setup:
            - pushHandler(Sentry\Monolog\Handler(level: Monolog\Logger::ERROR))
            - pushHandler(Fmasa\SentryBreadcrumbsMonologHandler\BreadcrumbsHandler())
