{layout $layout}

{define control $input, $extraClasses}
    <input n:name="$input" n:class="$input->hasErrors() ? 'is-invalid', form-control, $extraClasses ?? ''">
{/define}

{define errors $input}
    <div class="invalid-feedback d-block" n:foreach="$input->getErrors() as $error">{$error}</div>
{/define}

{block dialog-title}Importovat platby z CSV souboru{/block}

{block dialog-body}
    <div class="alert alert-info"><i class="fas fa-info-circle"></i> CSV Import <br/>
        <ul>
            <li>soubor musí být ve <b>formátu CSV</b> (např. excel s příponou xlsx se nevloží)</li>
            <li><b>oddělovač</b> buněk je <b>čárka</b>. Pokud je potřeba v textu uvádět čárku, je potřeba celou buňku uzavřít do úvozovek</li>
            <li>soubor <b>nesmí obsahovat hlavičku/názvy sloupců</b> (data, které chceš vkládat jsou od prvního řádku, prvního sloupce)</li>
            <li>pořadí sloupců v souboru musí být následující:</li>
            <ul>
                <li><b>název</b> (většinou jméno/přezdívka platícího, vkládáš text)</li>
                <li><b>částka</b> (vkládáš číslo. Import umožňuje vkládat haléřové položky. Číslo musí být oddělené desetinou tečkou)</li>
                <li><b>datum splatnosti</b> (vkládáš datum, ve formátu den.měsíc.rok)</li>
                <li><b>e-mail</b> (vkládáš text, může být i více e-mailů - pak je potřeba je mít ve formátu "email1@example.com,email2@example.com" - text v uvozovkách a oddělené čárkou, bez mezer</li>
                <li><b>variabilní symbol</b> (vkládáš číslo, max 10 znaků)</li>
                <li><b>konstantní symbol</b> (vkládáš číslo, v rozsahu 100 - 999)</li>
                <li><b>poznámka</b> k platbě (vkládáš text)</li>
            </ul>
            <li><b>povinný sloupec</b> je název,částka,datum splatnosti</li>
            <ul>
                <li>pokud ostatní sloupce nebudou vyplněny, budou vloženy prázdné hodnoty, které budeš moct doplnit přes editaci položky. Oddělovače na konci řádků nejsou povinné.</li>
            </ul>
            <br />
            <div><b>Příklad souboru k importu <a href="{plink '//:Default:default'}examples/import.csv">import.csv</a></b></div>
    </div>
    <form n:name="form" class="inline-errors">
        <div class="mb-3">
            <label n:name="file"/>
            {include control $form['file']}
            {include errors $form['file']}
        </div>


        <input n:name="send" class="btn btn-primary btn-lg w-100 mt-2 ajax">
    </form>

{/block}

{block dialog-footer}{/block}
