{layout $layout}

{block dialog-title}Smazat skupinu plateb{/block}

{block dialog-body}
    Tato akce je nevratná. Opravdu chcete smazat skupinu <strong>{$groupName}</strong>?
    {control form}
{/block}
