services:
    - Model\Infrastructure\Repositories\Cashbook\CashbookRepository
    - Model\Infrastructure\Repositories\Cashbook\UnitRepository
    - Model\Payment\UnitResolverStub

    - class: Model\Cashbook\Handlers\Cashbook\CreateCashbookHandler
      tags:
          messenger.messageHandler:
              bus: commandBus
    - class: Model\Cashbook\Subscribers\UnitCashbookWasCreatedSubscriber
      tags:
          messenger.messageHandler:
              bus: eventBus

includes:
    - ../../../config/doctrine.neon
