services:
    - App\Model\Infrastructure\Repositories\Cashbook\CashbookRepository
    - App\Model\Infrastructure\Repositories\Cashbook\UnitRepository
    - App\Model\Payment\UnitResolverStub

    - class: App\Model\Cashbook\Handlers\Cashbook\CreateCashbookHandler
      tags:
          messenger.messageHandler:
              bus: commandBus
    - class: App\Model\Cashbook\Subscribers\UnitCashbookWasCreatedSubscriber
      tags:
          messenger.messageHandler:
              bus: eventBus

includes:
    - ../../../config/doctrine.neon
