
services:
    - Nette\Bridges\ApplicationLatte\ILatteFactory
    - Model\Infrastructure\Repositories\Payment\MailCredentialsRepository
    - Model\Services\TemplateFactory
    - Model\Payment\UserRepositoryStub
    - Model\Mail\MailerFactory(enabled: true)
    - Model\Payment\NullMailer

    - class: Model\Payment\Handlers\MailCredentials\CreateMailCredentialsHandler
      tags: [commandBus.handler]

includes:
    - ../../../config/doctrine.neon
