
services:
    - Model\Infrastructure\Repositories\Payment\MailCredentialsRepository

    - class: Model\Payment\Handlers\MailCredentials\RemoveMailCredentialsHandler
      tags: [commandBus.handler]

includes:
    - ../../../config/doctrine.neon
