{block #content}

<h1 n:inner-block="title" class="mb-4">Faktury</h1>

<div class="row mb-3">
    <div class="col">
        <a class="btn btn-info" href="#">Vytvořit fakturační řadu</a>
        <a class="btn btn-info" n:href="InvoiceSetting:default">Nastavení faktur</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {control createForm}
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {control grid}
    </div>
</div>