{extends $baseTemplate}

{block filters}
    {include #filter-type-search}
    {*include #filter-type-select name => 'state', label => 'Stav'*}
{/block}

{define col-unit}
    {$item['unitDisplayName']}
{/define}