{layout $layout}

{define control $input, $extraClasses}
    <input n:name="$input" n:class="$input->hasErrors() ? 'is-invalid', form-control, $extraClasses ?? ''">
{/define}

{define errors $input}
    <div class="invalid-feedback d-block" n:foreach="$input->getErrors() as $error">{$error}</div>
{/define}

{block dialog-title}Importovat platby z CSV souboru{/block}

{block dialog-body}
    <div>Příklad souboru k importu <a href="{plink '//:Default:default'}examples/import.csv">import.csv</a></div>

    <form n:name="form" class="inline-errors">
        <div class="mb-3">
            <label n:name="file"/>
            {include control $form['file']}
            {include errors $form['file']}
        </div>


        <input n:name="send" class="btn btn-primary btn-lg w-100 mt-2 ajax">
    </form>
{/block}

{block dialog-footer}{/block}
