{extends $originalTemplate}

{block col-state}
    <div class="text-center">
        {$item->getState()|paymentStateLabel|noescape}
        {var $emails = $item->getSentEmails()}

        {if count($emails) > 0}
            <div class="dropdown d-inline-flex">
                <button class="btn btn-link btn-sm"
                        type="button"
                        data-toggle="dropdown"
                        data-persist="true"
                        title="Odeslané emaily">
                    <i class="far fa-envelope-open"></i>&nbsp;{count($emails)}
                </button>
                <div class="dropdown-menu dropdown-menu-right p-0 border-0 text-nowrap">
                    <ul class="list-group" n:inner-foreach="$emails as $email">
                        <li class="list-group-item align-items-center d-flex">
                            <div class="flex-grow-1">
                                <i class="far fa-envelope-open"></i>
                                {var $emailType = $email->getType()->toString()}
                                {if $emailType === 'payment_info'}
                                    Platební údaje
                                {elseif $emailType === 'payment_completed'}
                                    Potvrzení o dokončení platby
                                {/if}
                            </div>
                            <div class="small text-muted text-center ml-3">
                                odeslal {$email->getTime()|date:'d.m.Y'} uživatel {$email->getSenderName()}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {/if}
    </div>
{/block}

{block header}
    <thead>
        {include #header-column-row}
    </thead>
{/block}

{block col-email}
    <span class="small">{$item->getEmail()}</span>
{/block}

{block col-actions}
    {if !$item->isClosed() && $isEditable}
        <a href="{plink paymentDialog:open! $item->getId()}"
           class="btn btn-sm btn-secondary ajax"
           title="Upravit platbu"><i class="far fa-edit"></i></a>
        <a href="{plink send! $item->id}"
                n:class="btn, btn-sm, btn-primary, $item->getEmail() !== null ? 'ui--sendEmail', $item->getEmail() === NULL ? disabled"
           title="{$item->getEmail() === NULL ? 'Není uveden email' : 'Odeslat email o platbě'}"><i
                    class="far fa-envelope-open"></i></a>
        <a href="{plink complete! $item->getId()}" class="btn btn-sm btn-success" title="Zaplaceno"><i
                    class="fas fa-check"></i></a>
    {elseif $item->isClosed()}
        <span title="Datum uzavření platby">{$item->getClosedAt()|date:'j.n.Y'}</span>
    {var $transaction = $item->getTransaction()}
        {if $transaction !== NULL}
            <div class="dropdown d-inline-block">
                <button class="btn btn-sm btn-light" type="button"
                        data-toggle="dropdown">
                    <span class="fas fa-info-circle"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right p-3">
                    <li><strong>ID:</strong> {$transaction->getId()}</li>
                    <li><strong>Plátce:</strong> {$transaction->getPayer()}</li>
                    <li><strong>Účet:</strong> {$transaction->getBankAccount()}</li>
                    <li><strong>Poznámka:</strong> {$transaction->getNote()}</li>
                </ul>
            </div>
        {/if}
    {else}&nbsp;{/if}
    <a href="{plink cancel! $item->getId()}" n:if="$isEditable && ! $item->getState()->equalsValue('canceled')"
       class="btn btn-sm btn-danger"
       onclick="return confirm('Opravdu chcete zrušit platbu?');"
       title="Zrušit"><i class="fas fa-times"></i></a>
{/block}

{block action-col-classes}w-15{/block}
