{control prefix}
<div class="panel panel-info note-form">
    <div class="panel-body">
        {control noteForm}
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        {control chitForm}
    </div>
    <div class="col-md-9">
        {control chitListCash}
        {control chitListBank}
    </div>
</div>
