{block #content}
<h2>{$a->DisplayName}</h2>
{include ../ActionMenu.latte}


Jednotka : {$a->Unit}<br />
Od : {$a->StartDate|date:"j. n. Y"}<br />
Do : {$a->EndDate|date:"j. n. Y"}<br />
Stav : {$a->EventGeneralState}<br /><br />


<a n:href="edit $aid">Upravit</a>

{dump $a}
