{block #content}
<h2>{$data->DisplayName}</h2>
{include ../ActionMenu.latte}


Jednotka : {$data->Unit}<br />
Od : {$data->StartDate|date:"j. n. Y"}<br />
Do : {$data->EndDate|date:"j. n. Y"}<br />
Stav : {$data->EventGeneralState}<br /><br />

{if $actionState == "draft"}
    <a n:href="edit $aid">Upravit</a>
{elseif $actionState == "closed"}
    <a n:href="open $aid">Znovu otevřít</a>
{/if}
{dump $data}
