services:
    - App\Model\Payment\PaymentService
    - App\Model\Infrastructure\Repositories\Payment\PaymentRepository
    - App\Model\Infrastructure\Repositories\Payment\GroupRepository
    - App\Model\Infrastructure\Repositories\Payment\BankAccountRepository
    - App\Model\Skautis\Payment\MemberEmailRepository
    - App\Model\Invoice\Repository\InvoiceRepository
    - App\Model\Payment\Services\VariableSymbolCollisionChecker
    - GuzzleHttp\Client
    - Stubs\Skautis
    - Stubs\BankAccountAccessCheckerStub
    - Stubs\OAuthsAccessCheckerStub
    - App\Model\Payment\UserRepositoryStub
    - App\Model\Skautis\ParticipantRepository
    - App\Model\Infrastructure\Repositories\Participant\PaymentRepository

    - class: App\Model\Payment\Handlers\Payment\CreatePaymentHandler
      tags:
          messenger.messageHandler:
              bus: commandBus

includes:
    - config/doctrine.neon
