services:
    - Model\PaymentService
    - Model\Infrastructure\Repositories\Payment\PaymentRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository
    - Model\Skautis\Payment\MemberEmailRepository
    - GuzzleHttp\Client
    - Stubs\Skautis
    - Stubs\BankAccountAccessCheckerStub
    - Stubs\OAuthsAccessCheckerStub
    - Model\Payment\UserRepositoryStub

    - class: Model\Payment\Handlers\Payment\CreatePaymentHandler
      tags: [commandBus.handler]

includes:
    - config/doctrine.neon
