parameters:
    database:
        driver: mysqli
        host: mysql-test
        username: root
        password: root
        database: hskauting
        charset: utf8

services:
    - Dibi\Connection(%database%)

includes:
- config/doctrine.neon
