{block #content}
<h2 n:block="title">Pokladní kniha jednotky</h2>
{include ../ActionMenu.latte}

<div class="row-fluid">
    {include $templateBlockDir.'cashbook/tabs.latte'}
    {include $templateBlockDir.'cashbook/table.latte'}
</div>

{include $templateBlockDir.'cashbook/js.latte'}