{block #content}
    <h1 n:block="title" class="mt-5">{$unitPairs[$unitId]}</h1>
    {include ../header.latte}

    <div class="alert alert-warning text-center">
        Jednotka <strong>{$unitPairs[$unitId]}</strong> zatím nemá žádnou pokladní knihu.
    </div>
    <div class="text-center">
        <a n:href="createCashbook!" class="ajax btn btn-success">
            <i class="fa fa-plus"></i>Založit novou pokladní knihu
        </a>
    </div>

    {control createCashbookDialog}
{/block}
