{block #content}
<h2>Seznam dostupných akcí</h2>

<table border="1" n:if="!empty($actions)">
    <tr>
        <th>ID</th>
        <th>Název</th>
    </tr>
    <tr n:foreach="$actions as $a">
        <td>{$a->actionId}</td>
        <td>{$a->actionName}</td>
    </tr>
</table>
