
services:
    - App\Model\Infrastructure\Repositories\Mail\GoogleRepository
    - class: App\Model\Google\Handlers\RemoveOAuthHandler
      tags:
          messenger.messageHandler:
              bus: commandBus

includes:
    - ../../../config/doctrine.neon
