
services:
    - Model\Infrastructure\Repositories\Mail\GoogleRepository
    - class: Model\Google\Handlers\RemoveOAuthHandler
      tags:
          messenger.messageHandler:
              bus: commandBus

includes:
    - ../../../config/doctrine.neon
