
services:
    - Model\Infrastructure\Repositories\Mail\GoogleRepository('', '')

    - class: Model\Google\Handlers\RemoveOAuthHandler
      tags: [commandBus.handler]

includes:
    - ../../../config/doctrine.neon
