<div class="panel panel-info note-form">
    <div class="panel-body">
        {control noteForm}
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        {control chitForm}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {control chitListCash}
        {control chitListBank}
    </div>
</div>
