<div class="card border-info mb-3">
    <div class="card-body">
        {control noteForm}
    </div>
</div>

<div>
    {control chitForm}
</div>
<div>
    {control chitListCash}
    {control chitListBank}
</div>
