<div class='row'>
    <ul class="nav nav-pills">
        <li {ifCurrent Default:* }class='active'{/ifCurrent}><a n:href="Default: ">Cestovní příkazy</a></li>
        <li {ifCurrent Vehicle:* }class='active'{/ifCurrent}><a n:href="Vehicle: ">Vozidla</a></li>
        <li {ifCurrent Contract:* }class='active'{/ifCurrent}><a n:href="Contract: ">Smlouvy</a></li>
    </ul>
</div>