
<ul class="nav nav-pills">
    <li {ifCurrent Default:* }class='active'{/ifCurrent}><a n:href="Default: ">Cestovní příkazy</a></li>
    <li {ifCurrent Contract:* }class='active'{/ifCurrent}><a n:href="Contract: ">Smlouvy</a></li>
</ul>
