{block title}{$event->getDisplayName()} - seznam účastníků{/block}

{block #subMenu}{include ../header.latte}{/block}

{block content}
<div data-test="education-participant-page">
    <div class="card page-heading">
        <div class="card-body">
            <h1 class="h3 mb-2">{$event->getDisplayName()}</h1>
            {include pageLead, default: 'Seznam účastníků vzdělávací akce a návazná práce s jejich evidencí.'}
        </div>
    </div>

    {control participantList}

    {control privilegesDialog}
</div>
