{var $robots = noindex}
{block #content}

<h1>403</h1>
<h3>Přístup zamítnut</h3>

<p class="mt-4">Nemáš oprávnění pro přístup k této stránce.</p>

<a n:href=":Default:" class="btn btn-primary">Na hlavní stránku</a>
<a n:href=":Auth:logoutSis" class="btn btn-link">Odhlásit se</a>
