{var $robots = noindex}
{block #content}

<h1>404</h1>
<h2>Stránka nenalezena</h2>

<p class="mt-4">Zkuste se vrátit zpět a případně kontaktujte administrátora webu.</p>

<a n:href=":Default:" class="btn btn-primary">Na hlavní stránku</a>
