{var $robots = noindex}
{block #content}

<h1>405</h1>
<h1>Method Not Allowed</h1>

<p class="mt-4">Tato metoda není pro danou adresu povolena</p>

<a n:href=":Default:" class="btn btn-primary">Na hlavní stránku</a>
