{var $robots = noindex}
{block content}

<h1>410</h1>
<h2>Stránka již není dostupná</h2>

<p class="mt-4">Tato stránka již není dostupná.</p>

<a n:href=":Default:" class="btn btn-primary">Na hlavní stránku</a>
