{var $robots = noindex}

{block #content}
<div>
	<h1>500</h1>
	<h3>Server Error</h3>
</div>

<p class="mt-4">Omlouváme se, ale nastala neočekávaná chyba a server není schopen dokončit požadavek.
	Chyba byla uložena, zkuste tedy požadavek opakovat později.</p>

<a n:href=":Default:" class="btn btn-primary">Na hlavní stránku</a>
