<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset=utf-8 />
        <title>{block #title|striptags|trim}SkaHos{/block}</title>
        <meta name="keywords" content="404" />
        <meta name="author" content="www.sinacek.cz" />
        <meta name="robots" content="{$robots}" n:ifset="$robots">
        <link rel="stylesheet" type="text/css" href="{$baseUri}/css/error.css" media="screen" />
    </head>

    <body>
        <a n:href=":Default:">&lBarr; Přejít na hlavní stránku</a>
       {include #content}
    </body>
</html>