{var $robots = noindex}

{block #content}
<div>
    <h1>Chyba</h1>
    <h3>Nemáš přidělenou žádnou roli</h3>
</div>

<p class="mt-4">
    Nemáš ve Skautisu žádnou roli, přiřadit ti nějakou může tvůj oddílový/střediskový vedoucí.
</p>

<div class="mt-4">
    <a n:href=":Auth:logoutSis" class="btn btn-primary">Odhlásit se</a>
</div>
