{var $robots = noindex}

{block #content}
<div>
    <h1>Chyba</h1>
    <h3>Nejsi členem žádné jednotky</h3>
</div>

<p class="mt-4">Pravděpodobně nemáš propojený účet ve SkautISu se svojí osobou.
    Tvůj vedoucí ti může účet propojit podle <a
            href="https://napoveda.skaut.cz/skautis/informacni-system/uzivatel/propojeni-uctu">tohoto
        návodu</a>.
</p>

<div class="mt-4">
    <a n:href=":Auth:logoutSis" class="btn btn-primary">Odhlásit se</a>
</div>
