{var $isCash = $paymentMethod->equalsValue('cash')}

<div class="card mb-2">
    <div class="card-header">
        <div class="d-flex flex-wrap align-items-start justify-content-between gap-2">
            <div class="flex-shrink-0">
                <h4 id="chitList-payment" class="mb-0 text-nowrap">{$paymentMethod->getName()}</h4>
            </div>
            <div class="export-panel text-end d-none d-md-block">
                {include 'ChitListControl.topPanel.latte'}
            </div>
        </div>
    </div>
    <div class="card-body chit-list" n:if="!empty($chits)" n:attr="id => $control->getUniqueId()">
        <div class="overflow-auto">
            <table class="table table-hover table-sm" id="cashbookTable">
                <thead>
                <tr>
                    <th>
                        <form n:name="formMass" class="formMass">
                            <input type="checkbox" name="chits-all"
                                   class="d-none d-md-inline" data-dependent-checkboxes="#{$control->getUniqueId()} .dependent-checkbox"/>
                            <button n:if="$isCash"
                                    n:name="massPrintSend" title="Vytisknout vybrané"
                                    class="btn btn-outline-secondary btn-sm"
                                    type="submit">
                                <i class="fas fa-print"></i>
                            </button>
                            <button n:if="$canMoveChits" n:name="massMoveSend" title="Přesunout vybrané" role="button" data-bs-toggle="modal"
                               class="btn btn-outline-secondary btn-sm"><i class="fas fa-step-forward"></i></button>
                            <button n:if="$canMassExport" name="massExportSend" title="Exportovat vybrané"
                                    class="btn btn-outline-secondary btn-sm" type="submit"><i class="fas fa-download"></i></button>
                        </form>
                    </th>
                    <th>Ze dne</th>
                    <th>Číslo</th>
                    <th>Účel výplaty</th>
                    <th class="d-none d-md-table-cell">Typ</th>
                    <th class="d-none d-md-table-cell">Komu/Od koho</th>
                    <th>Příjem</th>
                    <th>Výdej</th>
                    <th>Zůstatek</th>
                </tr>
                </thead>
                <tbody>
                {var $balance = 0}
                {foreach $chits as $chit}
                    {var $isIncome = $chit->isIncome()}
                    {do $balance += $isIncome ? $chit->amount->toFloat() : -$chit->amount->toFloat()}
                    {var $itemsCount = count($chit->items)}
                    <tr>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="dependent-checkbox text-nowrap">
                            <input type="checkbox" class="d-none d-lg-inline" name="chits-{$paymentMethod}[]" value={$chit->id}/>
                            <div class="btn-group">
                                <a n:if="$isCash"
                                        href="{plink :Unit:CashbookExport:printChits $cashbookId, [$chit->id]}"
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="btn btn-sm btn-light d-none d-lg-inline"><i
                                            class="fas fa-print"></i></a>
                                {control "chitScan-$chit->id"}
                                <a n:if="$isEditable && ! $chit->locked" n:href="edit! $chit->id" data-bs-toggle="chitEdit"
                                        class="ajax btn btn-sm btn-primary ui--editChit"><i class="far fa-edit"></i></a>

                                <a n:if="$isEditable && ! $chit->locked" n:href="remove! $chit->id"
                                        onclick="return confirm('Opravdu chcete smazat paragon?')"
                                        class="btn btn-sm btn-danger ui--removeChit"><i class="far fa-trash-alt"></i></a>

                            <a n:if="$isEditable && $chit->locked" n:href="showLocked" title="Paragon je uzamčen."
                                    class="btn btn-warning btn-sm"><i class="fas fa-lock"></i></a>

                            <a n:if="$isEditable && count(array_intersect($validInverseCashbookTypes, $chit->inverseCashbookTypes))"
                                    class="ajax btn btn-sm btn-light d-none d-md-inline" n:href="invertChitDialog:open! $chit->id"
                                    title="Vytvořit protidoklad">
                                <i class="fas fa-exchange-alt"></i>
                            </a>
                        </td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="text-end">
                            {$chit->date|date:'d.m'}<span class="d-none d-lg-inline">.{$chit->date|date:'Y'}</span>
                        </td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} title="{$prefix}{$chit->number}" n:class="array_key_exists((string)$chit->number, $duplicatesNumbers) ? 'alert alert-danger'">{$chit->number}</td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} title="{$chit->purpose}">{$chit->purpose|truncate:"120"}</td>
                        <td class="d-none d-md-table-cell" title="{$chit->categories}">{$chit->categoriesShortcut}</td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="d-none d-md-table-cell">{$chit->recipient}</td>
                        {if $isIncome}
                            <td class="text-end" title="{$chit->amount->expression}">{$chit->amount->value|price}</td>
                            <td class="text-end">&nbsp;</td>
                        {else}
                            <td class="text-end">&nbsp;</td>
                            <td class="text-end" title="{$chit->amount->expression}">{$chit->amount->value|price}</td>
                        {/if}
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} n:class="text-end, $balance < 0 && $isCash ? 'bg-danger'">{$balance|price}</td>
                    </tr>
                    {if $itemsCount > 1}
                        {foreach $chit->items as $item}
                            <tr>
                                <td class="text-body-secondary">{$item->category->shortcut}</td>
                                <td class="text-end text-body-secondary" colspan="2" title="{$item->amount->expression}">{$item->amount->value|price}</td>
                            </tr>
                        {/foreach}
                    {/if}
                {/foreach}
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="d-none d-md-table-cell">&nbsp;</td>
                    <td class="d-none d-md-table-cell">&nbsp;</td>
                    <td><b>Konečný stav</b></td>
                    <td class="text-end">{$totalIncome|price}</td>
                    <td class="text-end">{$totalExpense|price}</td>
                    <td n:class="text-end, ui--balance, $balance < 0 && $isCash ? 'bg-danger'"><b>{$balance|price}</b></td>
                </tr>
                <tbody>
            </table>
    </div>

        {if $canMoveChits}
            {control moveChitsDialog}
        {/if}
        {control invertChitDialog}
    </div>
    <div class="card-body" n:if="count($chits) === 0">
        <div class="text-center">Zatím zde nemáte žádné doklady.</div>
    </div>
</div>
