{snippet note}
    {if $isEditable && $editation }
        <form n:name="form" class="d-flex align-items-center flex-wrap gap-2 inline-errors">
            {input note class=>"flex-grow-1"}
            <div>
                <button class="btn btn-sm btn-light ajax" n:name="save" title="Uložit poznámku"
                        aria-label="Uložit poznámku"><i class="fi fi-rr-check" aria-hidden="true"></i></button>
                <a class="btn btn-sm btn-light ajax" n:href="cancel!" title="Zrušit úpravu poznámky"
                   aria-label="Zrušit úpravu poznámky"><i class="fi fi-rr-cross-small" aria-hidden="true"></i></a>
            </div>
        </form>
    {else}
        <b>Poznámka:</b><br n:if="strlen($note) > 0">{$note|noescape} <a n:if="$isEditable" n:href="edit!" class="btn btn-sm btn-light ajax" title="Upravit poznámku"
           aria-label="Upravit poznámku"><i class="fi fi-rr-edit" aria-hidden="true"></i></a>
    {/if}
{/snippet}
