{block title}Seznam návodů na vyúčtování akce{/block}

{block #content}
<div class="row-fluid">
    <h1>Uživatelská příručka</h1>
    <h2>Akce</h2>
    <ul>
        <li><a n:href="event">Základní práce s akcí</a></li>
    </ul>
    <h2>Cestovní příkazy</h2>
    <ul>
        <li><a n:href="travelCommand">Jak na cestovní příkaz?</a></li>
    </ul>
</div>
    