{block title}Výprava - základní příručka vyúčtování{/block}

{block #content}
<div class="row-fluid tutorial">
    <h1>Uživatelská příručka</h1>
    
    <ul>
        <li><a n:href="event">Výprava</li>
    </ul>
    
</div>
    