{*}
<ul class="nav nav-pills">
    <li {ifCurrent Payment:* }class='active'{/ifCurrent}><a n:href="Payment:">Platby</a></li>
    <li {ifCurrent Registration:* }class='active'{/ifCurrent}><a n:href="Registration:">Registrace</a></li>
</ul>
{*}