{block content}
{include ../ActionMenu.latte}
<div class="panel panel-default">
    <div class="panel-heading" n:inner-block="title">Upravit účet</div>
    <div class="panel-body">
        {control form}
    </div>
</div>
