{block #content}
{include ../menu.latte}
<div class="row button-bar">
    <div class="col-md-12">
        <a n:href="new" class="btn btn-success pull-right">
            <i class="glyphicon glyphicon-plus-sign"></i> Založit nové vozidlo
        </a>
        <h2 n:inner-block="title">Vozidla <span class="hidden-xs hidden-sm label label-default">{$unit->DisplayName}</span></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {control grid}
    </div>
</div>
