
services:
    - Model\Infrastructure\Repositories\Payment\PaymentRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository

    - class: Model\Payment\Subscribers\PaymentSubscriber
      tags:
          messenger.messageHandler:
              bus: eventBus

    - class: Model\Payment\Handlers\Payment\CreatePaymentHandler
      tags:
          messenger.messageHandler:
              bus: commandBus

    - class: Model\Payment\Handlers\Payment\UpdatePaymentHandler
      tags:
          messenger.messageHandler:
              bus: commandBus

    - class: Model\Payment\Handlers\BankAccount\CreateBankAccountHandler
      tags:
          messenger.messageHandler:
              bus: commandBus

    - Model\Payment\Services\BankAccountAccessChecker
    - Stubs\OAuthsAccessCheckerStub

    - Model\Payment\UnitResolverStub
    - Model\Payment\FioClientStub
    - Model\BankService

includes:
    - ../../config/doctrine.neon
