
services:
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository
    - Model\Infrastructure\Repositories\Payment\PaymentRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Skautis\Payment\MemberEmailRepository
    - Model\Common\Services\NotificationsCollector
    - GuzzleHttp\Client

    - Stubs\Skautis
    - Model\Payment\UserRepositoryStub
    - Stubs\BankAccountAccessCheckerStub
    - Stubs\OAuthsAccessCheckerStub
    - Model\PaymentService
    - Stubs\GoogleRepositoryStub

    - Model\Mail\MailerFactory(Model\Payment\NullMailer(), false)
    - Model\Services\TemplateFactory
    - Model\Payment\MailingService

    - class: Model\Payment\Handlers\Payment\CreatePaymentHandler
      tags: [commandBus.handler]

    - class: Model\Payment\Subscribers\PaymentMailSubscriber
      tags: [eventBus.subscriber]

includes:
    - ../../config/doctrine.neon

extensions:
    latte: Nette\Bridges\ApplicationDI\LatteExtension(%tempDir%, true)
