
services:
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository
    - Model\Infrastructure\Repositories\Payment\PaymentRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Payment\Handlers\Group\RemoveGroupHandler

    - class: Model\Payment\Subscribers\GroupRemovedSubscriber
      tags: [eventBus.subscriber]

includes:
    - ../../config/doctrine.neon
