
services:
    - Model\Infrastructure\Repositories\Payment\MailCredentialsRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Payment\Handlers\MailCredentials\RemoveMailCredentialsHandler

    - class: Model\Payment\Subscribers\MailCredentialsRemovedSubscriber
      tags: [eventBus.subscriber]

includes:
    - ../../config/doctrine.neon
