services:
    - App\Model\Infrastructure\Repositories\Mail\GoogleRepository
    - App\Model\Google\GoogleService('', '')
    - App\Model\Infrastructure\Repositories\Payment\GroupRepository
    - App\Model\Google\Handlers\RemoveOAuthHandler

    - class: App\Model\Payment\Subscribers\OAuthRemovedSubscriber
      tags:
          messenger.messageHandler:
              bus: eventBus

includes:
    - ../../config/doctrine.neon
