Dobrý den,
chtěli bychom vás požádat o úhradu.
<b>Informace k platbě:</b>
Účel platby: %name%
Číslo účtu: %account%
Částka: %amount% Kč
Datum splatnosti: %maturity%
VS: %vs%
KS: %ks%

Pro zrychlení platby jsme připravili QR kód, který lze použít při placení v mobilních aplikacích bank. Použití QR kódu šetří váš čas a snižuje pravděpodobnost překlepu.
%qrcode%

Děkujeme za včasné uhrazení
<hr>
Tento email byl vygenerován automaticky systémem Skautského hospodaření online (h.skauting.cz) a odeslán uživatelem %user%.
