{extends $originalTemplate}

{block filters}
    {include #filter-type-search}
    {include #filter-type-select name => 'state', label => 'Stav'}
{/block}

{block global-actions}
    <a href="{plink Command:}" class="btn btn-success">
        <span class="fas fa-plus"></span>
        Založit cestovní příkaz
    </a>
{/block}

{define col-passenger}
    {$item->passenger->name}
    {var $contractId = $item->passenger->contractId}
    {if $contractId !== NULL}
        (<a n:tag-if="$contractId !== NULL" href="{plink Contract:detail $contractId}">smlouva</a>)
    {/if}
{/define}

{define col-vehicle}
    {var $vehicleId = $item->vehicleId}
    <a n:if="$vehicleId !== NULL" href="{plink Vehicle:detail $vehicleId}">
        {var $vehicle = $vehicles[$vehicleId]}
        {$vehicle->label} <i n:if="$vehicle->archived" class="fa fa-trash"></i>
    </a>

    <div n:inner-foreach="$item->getTransportTypePairs() as $type">
        <span class="badge badge-info">{$type}</span>
    </div>
{/define}

{define col-total}
    {if ! $item->total->isZero()}{$item->total|price:false} Kč{else}-{/if}
{/define}

{define col-state}
    {$item->closedAt|commandState|noescape}
{/define}
