{extends $originalTemplate}

{block filters}
    {include #filter-type-search}
    {include #filter-type-select name => 'subunit', label => 'Oddíl'}

{/block}

{block global-actions}
    <a href="{plink Vehicle:new}" class="btn btn-success">
        <i class="fas fa-plus"></i> Založit nové vozidlo
    </a>
{/block}

{define col-subunit}
    {$units[$item->subunitId] ?? '-'}
{/define}
