parameters:
    database:
        host: %env.DB_HOST%
        user: %env.DB_USER%
        password: %env.DB_PASSWORD%
        name: %env.DB_NAME%

services:
    - Nette\Caching\Storages\DevNullStorage
    - Model\Common\Services\MessengerCommandBus(@messenger.commandBus.bus)
    - Model\Common\Services\MessengerQueryBus(@messenger.queryBus.bus)
    - Model\Common\Services\MessengerEventBus(@messenger.eventBus.bus)

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    decorator: Nette\DI\Extensions\DecoratorExtension # default extension in Nette DI
    messenger: Fmasa\Messenger\DI\MessengerExtension

messenger:
    buses:
        commandBus:
            singleHandlerPerMessage: true
            panel: false
        eventBus:
            allowNoHandlers: true
            panel: false
        queryBus:
            singleHandlerPerMessage: true
            panel: false

includes:
    - ../../../app/config/model/doctrine.neon
