parameters:
    database:
        host: mysql-test
        user: root
        password:
        name: hskauting

services:
    - Nette\Caching\Storages\FileStorage(%tempDir%)
    - Nette\Caching\Storages\SQLiteJournal(':memory:')

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    decorator: Nette\DI\Extensions\DecoratorExtension # default extension in Nette DI

includes:
    - ../../../app/config/model/doctrine.neon
