{block #content}
{include ../ActionMenu.latte}
<h2>Export</h2>
<ul>
    <li><a n:href="chits $aid">Paragony</a></li>
    <li><a n:href="income $aid">Příjmové doklady</a></li>
    <li><a n:href="cashbook $aid">Pokladní kniha</a></li>
    <li><a n:href="massIn $aid">Hromadný příjmový doklad</a></li>
    <li><a n:href="participants $aid">Seznam účastníků</a></li>
    <li><a n:href="report $aid">Vyučtování akce</a></li>
</ul>

