
<ul class="nav nav-pills">
    <li {ifCurrent Action:view $aid}class='active'{/ifCurrent}><a n:href="Action:view $aid">Základní údaje</a></li>
    <li {ifCurrent Cashbook:default $aid}class='active'{/ifCurrent}><a n:href="Cashbook:default $aid">Pokladní kniha</a></li>
    <li {ifCurrent Participant:default $aid}class='active'{/ifCurrent}><a n:href="Participant:default $aid">Seznam účastníků</a></li>
</ul>
