
<ul class="nav nav-pills">
    <li {ifCurrent Event:info $aid}class='active'{/ifCurrent}><a n:href="Event:info $aid">Základní údaje</a></li>
    <li {ifCurrent Participant:default $aid}class='active'{/ifCurrent}><a n:href="Participant:default $aid">Účastníci</a></li>
    <li {ifCurrent Cashbook:default $aid}class='active'{/ifCurrent}><a n:href="Cashbook:default $aid">Pokladní kniha</a></li>
    <li {ifCurrent Export:default $aid}class='active'{/ifCurrent}><a n:href="Export:default $aid">Export</a></li>
</ul>
