{block #content}

<h2>Test</h2>

<script type="text/javascript">
    $(function () {
        // odeslání na formulářích
        $("form.ajax").submit(function () {
                $(this).ajaxSubmit();
                return false;
        });

        // odeslání pomocí tlačítek
        $("form.ajax :submit").click(function () {
                $(this).ajaxSubmit();
                return false;
        });
});
</script>

{control testForm}

<hr />
{snippet testResponse}
    {!$response}
{/snippet}
<hr />

