services:
    - Model\Infrastructure\Repositories\Cashbook\CashbookRepository
    - class: Model\Cashbook\Handlers\Cashbook\MoveChitsToDifferentCashbookHandler
      tags:
          messenger.messageHandler:
              bus: commandBus
    - class: Model\Cashbook\Handlers\Cashbook\AddChitScanHandler
      tags:
          messenger.messageHandler:
              bus: commandBus
    - Model\Infrastructure\Services\Common\FlysystemScanStorage
    - League\Flysystem\Filesystem(League\Flysystem\InMemory\InMemoryFilesystemAdapter())

includes:
    - ../../config/doctrine.neon
