{* ajax response pro pridani funkce*}

{form formAddFunction class=>"nonMargin"}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <table>
        <tr>
            <th>{label person/}</th>
            <td>{input person}</td>
        </tr>
        <tr>
            <th>{input aid}{input fid}</th>
            <td>{input send}</td>
        </tr>
    </table>
{/form}
