{block #title}Logy akce - {$event->DisplayName}{/block}

{block #content}
{include ../ActionMenu.latte}
<h2>{$event->DisplayName}</h2>

<h3>Logy akce</h3>
{foreach $logs as $log}
    {$log->date->format("Y/m/d H:i:s")} {$log->getDescription()} <br />
{/foreach}
