{block #content}

<h1 n:inner-block="title" class="mb-4">Faktury</h1>

<div class="row mb-3">
    <div class="col">
        <a class="btn btn-info" href="#">Vytvořit fakturu</a>
    </div>
</div>
<div class="row mb-3">
    <div class="col" n:snippet="createForm">
        {control createForm}
    </div>
</div>
<div class="row mb-3">
    <div class="col" n:snippet="grid">
        {control grid}
    </div>
</div>