{block #content}
{include ../ActionMenu.latte}
<h2 n:inner-block="title">Účastníci bez založené platby</h2>
{var $stsPrice = 250}
<a n:href="Payment:detail $id" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Zpět na skupinu plateb</a>

<h3>{$unitPairs[$aid]}</h3>

{if $showForm}
    {control massAddForm}
{else}
    <p class="well">Nejsou dostupní žádní účastníci, kteří by neměli založenou platbu.</p>
{/if}


