
services:
    - Model\BankService
    - Model\Payment\FioClientStub
    - Model\Infrastructure\Repositories\Payment\PaymentRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository
includes:
    - ../config/doctrine.neon
