
services:
    - Model\Payment\BankAccountService
    - Model\Payment\FioClientStub
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository
    - Model\Payment\UnitResolverStub
    - Model\Payment\BankAccountImporterStub
    - Nette\Caching\Cache

includes:
    - ../config/doctrine.neon
