{block title}Skautské hospodaření online{/block}

{block #content}

{php $imgPath = 'images/front'}

<div class="container landing">
    <div class="intro">
        <div class="intro-left">
            <h1>h.skauting.cz</h1>
            <p>Efektivní hospodaření pro skautské jednotky</p>

            <div class="intro-buttons">
                <a href="{plink :Auth:logOnSkautIs (isset($backlink)) ? $backlink : NULL}" class="btn-landing">Přihlásit se</a>
            </div>
        </div>
        <div class="intro-right">
            <img src="./{$imgPath}/intro1.png" alt="Úvod">
        </div>
    </div>

    <div class="features">
        <div class="features-item">
            <div class="features-item-left">
                <img src="./{$imgPath}/calculate.png" alt="Účetnictví">
            </div>
            <div class="features-item-right">
                <h3>Propojení se skautIsem</h3>
                <p>Integrace se skautským informačním systémem. Nepotřebujete žádnou další registraci.</p>
            </div>
        </div>
        <div class="features-item">
            <div class="features-item-left">
                <img src="./{$imgPath}/house.png" alt="Majetek">
            </div>
            <div class="features-item-right">
                <h3>Správa dokladů online</h3>
                <p>Jednoduše vložte skeny všech účtenek a faktur přímo k akci.</p>
            </div>
        </div>
        <div class="features-item">
            <div class="features-item-left">
                <img src="./{$imgPath}/file.png" alt="Reporty">
            </div>
            <div class="features-item-right">
                <h3>Exporty a importy</h3>
                <p>Jednoduše přenesete svoje data z a do systému pomocí importů a exportů dat</p>
            </div>
        </div>
    </div>
    <div class="services-container">
        <div class="services">
            <div class="services-item">
                <div class="services-item-left">
                    <img src="./{$imgPath}/database.png" alt="Centralizace">
                </div>
                <div class="services-item-right">
                    <h3>Centralizace dat</h3>
                    <p>všechna finanční data na jednom místě</p>
                </div>
            </div>
            <div class="services-item">
                <div class="services-item-left">
                    <img src="./{$imgPath}/badge.png" alt="Bezpečnost">
                </div>
                <div class="services-item-right">
                    <h3>Bezpečnost</h3>
                    <p>Přístupová práva a zálohování dat</p>
                </div>
            </div>
            <div class="services-item">
                <div class="services-item-left">
                    <img src="./{$imgPath}/integration.png" alt="Integrace">
                </div>
                <div class="services-item-right">
                    <h3>Integrace</h3>
                    <p>Napojení na skautIs, propojení s FIO bankovním účtem a Gmailem</p>
                </div>
            </div>
            <div class="services-item">
                <div class="services-item-left">
                    <img src="./{$imgPath}/support.png" alt="Podpora">
                </div>
                <div class="services-item-right">
                    <h3>Podpora</h3>
                    <p>On-line podpora a školení, nápověda a video návody k systému.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <h2>O projektu</h2>
        <p>
            Projekt Skautské hospodaření online představuje centrální platformu navrženou pro zjednodušení a digitalizaci finanční administrativy skautských jednotek. Jeho cílem je nahradit roztříštěnou evidenci v tabulkách či papírové podobě a nabídnout vedoucím a hospodářům jednotný a bezpečný systém. Klíčovou součástí je například modul pro správu hospodaření akcí, který pokrývá vše od vedení online pokladní knihy, přes digitalizaci dokladů a evidenci plateb účastníků, až po automatické generování závěrečných zpráv. Celý systém tak šetří čas, zvyšuje přehlednost a poskytuje spolehlivé podklady pro řízení jednotky i pro kontrolní orgány.
            <h3>Hlavní přínosy</h3>
            <ul>
                <li>jednoduchý a srozumitelný i pro začínající hospodáře,</li>
                <li>online dostupný přes internet,</li>
                <li>lze spolupracovat ve více lidech,</li>
                <li>načítá data se základními informacemi o akcích a členech ze skautISu,</li>
                <li>výstupy lze využít do účetnictví,</li>
                <li>vytváří historický archiv všech údajů k akcím se snadnou dohledatelností.</li>
            </ul>
        </p>
        <br>
        <div class="about-button">
            <a n:href=":Default:about" class="btn-landing">Chci vědět více</a>
        </div>
    </div>
</div>