
{block content}
<h1>Testovaci stranka</h1>
<div id="box">
    Test<br />
    TestTestTestTestTestTestTestTestTestTestTestTestTestTest<br />
    Test<br />
    Test<br />
    Test<br />
</div>

<script type="text/javascript">
$(document).ready(function() {
    alert("left");
    $("body").touchwipe({
        wipeLeft: function() {
            alert("left");
        },
        wipeRight: function() {
            alert("right");       }
    });
});
</script>