{block #content}

<h2>Úvodní stránka pro účetnictví</h2>

<h3><a n:href="Action:list">Vedoucí akce</a></h3>
<ul>
    <li><a n:href="Action:list">Seznam akcí</a></li>
    <li><a n:href="Default:action">Aktuální akce</a></li>
</ul>


<h3>Hospodář</h3>
<ul>
    <li><a n:href="Unit:">Nastavení jednotky</a></li>
    <li><a n:href="">Schvalování údajů</a></li>
</ul>
