{block #content}

<h2>Úvodní stránka pro účetnictví</h2>

<h3>Vedoucí akce</h3>
<ul>
    <li><a n:href="Default:action">Aktuální akce</a></li>
    <li><a n:href="Actions:">Moje uložené akce</a></li>
</ul>


<h3>Hospodář</h3>
<ul>
    <li><a n:href="Unit:">Nastavení jednotky</a></li>
    <li><a n:href="">Schvalování údajů</a></li>
</ul>
