{block #content}
<div class="row justify-content-center" data-test="travel-command-form-page">
    <div class="col-8">
        <div class="card shadow-sm">
            <div class="card-header"><h3 n:inner-block="title">Založit cestovní příkaz</h3></div>
            <div class="card-body">
                {control form}
            </div>
        </div>
    </div>
</div>
{/block}
