<!-- Button trigger modal -->
<button class="btn btn-sm btn-secondary d-none d-inline" type="button" id="chitScanList" data-toggle="modal" aria-haspopup="true" aria-expanded="false" data-persist="true" data-target="#chitScanModal-{$chitId}">
    <i class="far fa-folder-open"></i>
    <span n:if="count($files) > 0" class="badge bg-light text-dark">{count($files)}</span>
</button>


<!-- Modal -->
<div class="modal fade" id="chitScanModal-{$chitId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Naskenované přílohy</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div n:foreach="$files as $file" class="dropdown-item text-nowrap" title="{$file->getFilePath()->getOriginalFilename()}">
                    {$file->getFilePath()->getOriginalFilename()|truncate:26}

                    <a n:href="remove! $file->getFilePath()->getPath()"
                    n:if="$isEditable"
                            title="Smazat soubor"
                            data-toggle="tooltip"
                            onclick="return confirm('Opravdu chcete smazat sken?');"
                            class="text-danger float-right ml-2"><i class="far fa-trash-alt"></i></a>
                    <a href="{plink :Accountancy:CashbookExport:downloadScan $cashbookId, $chitId, $file->getFilePath()->getPath()}"
                       class="float-right " title="Stáhnout soubor" data-toggle="tooltip">
                        <i class="fas fa-arrow-down"></i>
                    </a>
                </div>
                {control uploadForm}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
