{define amountColumns}
    {if $isIncome}
        <td class="r" title="{$amount->expression}">{$amount->value|price}</td>
        <td class="r">&nbsp;</td>
    {else}
        <td class="r">&nbsp;</td>
        <td class="r" title="{$amount->expression}">{$amount->value|price}</td>
    {/if}
{/define}
{var $isCash = $paymentMethod->equalsValue('cash')}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right export-panel">
            {include 'ChitListControl.topPanel.latte'}
        </div>
        <h4>{$paymentMethod->getName()}</h4>
    </div>
    <div class="panel-body chit-list" n:if="!empty($chits)">
        {form formMass}
            <table class="table table-bordered table-condensed" id="cashbookTable">
                <thead>
                <tr>
                    <th class='col-xs-1'>
                        <input type="checkbox" name="chits-all" id="chits-all-{$paymentMethod}"
                               onclick="jqCheckAll(this.id, 'chits-'+{$paymentMethod->toString()})"
                               class="hidden-xs hidden-sm"/>
                        <button n:if="$isCash" n:name="massPrintSend" title="Vytisknout vybrané"
                                                       class="btn btn-info btn-xs allDependend-{$paymentMethod} hidden-xs hidden-sm"
                                                       type="submit">
                            <i class="glyphicon glyphicon-print"></i>
                        </button>
                        <button n:if="$canMoveChits" n:name="massMoveSend" title="Přesunout vybrané" role="button" data-toggle="modal"
                           class="btn btn-info btn-xs allDependend-{$paymentMethod} hidden-xs"><i
                                    class="glyphicon glyphicon-step-forward"></i></button>
                        <button n:if="$canMassExport" name="massExportSend" title="Exportovat vybrané"
                                class="btn btn-info btn-xs allDependend-{$paymentMethod} hidden-xs" type="submit"><i
                                    class="glyphicon glyphicon-download-alt"></i></button>
                    </th>
                    <th class="col-xs-1">Ze dne</th>
                    <th class="col-xs-1">Číslo</th>
                    <th>Účel výplaty</th>
                    <th class="hidden-xs hidden-sm">Typ</th>
                    <th class="hidden-xs hidden-sm">Komu/Od koho</th>
                    <th>Příjem</th>
                    <th>Výdej</th>
                    <th>Zůstatek</th>
                </tr>
                </thead>
                <tbody>
                {var $balance => 0}
                {foreach $chits as $chit}
                    {var $isIncome = $chit->isIncome()}
                    {php $balance += $isIncome ? $chit->amount->toFloat() : -$chit->amount->toFloat()}
                    {var $itemsCount = count($chit->items)}
                    <tr>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="nowrap">
                            <input type="checkbox" class="hidden-xs hidden-sm" name="chits-{$paymentMethod}[]" value={$chit->id}/>
                            <a n:if="$isCash"
                                    href="{plink :Accountancy:CashbookExport:printChits $cashbookId, [$chit->id]}"
                                    target="_blank"
                                    class="btn btn-xs btn-info hidden-xs hidden-sm"><i
                                        class="glyphicon glyphicon-print"></i></a>
                            <a n:if="$isEditable && ! $chit->locked" n:href="edit! $chit->id"
                                    class="ajax btn btn-xs btn-primary ui--editChit"><i class="glyphicon glyphicon-edit"></i></a>

                            <a n:if="$isEditable && ! $chit->locked" n:href="remove! $chit->id"
                                    onclick="return confirm('Opravdu chcete smazat paragon?')"
                                    class="btn btn-danger btn-xs ui--removeChit"><i class="glyphicon glyphicon-remove"></i></a>

                            <a n:if="$isEditable && $chit->locked" n:href="showLocked" title="Paragon je uzamčen."
                                    class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-lock"></i></a>

                            <a n:if="$isEditable && count(array_intersect($validInverseCashbookTypes, $chit->inverseCashbookTypes))"
                                    class="ajax btn btn-xs btn-success hidden-xs hidden-sm" n:href="invertChitDialog:open! $chit->id"
                                    title="Vytvořit protidoklad">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if}>
                            <span class="visible-xs visible-sm">{$chit->date|date:"j.n."}</span>
                            <span class="visible-md visible-lg">{$chit->date|date:"d.m.Y"}</span>
                        </td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} title="{$prefix}{$chit->number}" n:class="array_key_exists((string)$chit->number, $duplicatesNumbers) ? 'alert alert-danger'">{$chit->number}</td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} title="{$chit->purpose}">{$chit->purpose|truncate:"120"}</td>
                        <td class="hidden-xs hidden-sm" title="{$chit->categories}">{$chit->categoriesShortcut}</td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="hidden-xs hidden-sm">{$chit->recipient}</td>
                        {include amountColumns 'isIncome'=>$isIncome, 'amount'=>$chit->amount}
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} n:class="r, $balance < 0 && $isCash ? 'bg-danger'">{$balance|price}</td>
                    </tr>
                    {if $itemsCount > 1}
                        {foreach $chit->items as $item}
                            <tr>
                                <td>{$item->category->shortcut}</td>
                                {include amountColumns 'isIncome'=>$isIncome, 'amount'=>$item->amount}
                            </tr>
                        {/foreach}
                    {/if}
                {/foreach}
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="hidden-xs hidden-sm">&nbsp;</td>
                    <td class='hidden-xs hidden-sm'>&nbsp;</td>
                    <td><b>Konečný stav</b></td>
                    <td class="r">{$totalIncome|price}</td>
                    <td class="r">{$totalExpense|price}</td>
                    <td n:class="r, ui--balance, $balance < 0 && $isCash ? 'bg-danger'"><b>{$balance|price}</b></td>
                </tr>
                <tbody>
            </table>
        {/form}

        {if $canMoveChits}
            {control moveChitsDialog}
        {/if}
        {control invertChitDialog}
    </div>
    <div class="panel-body info" n:if="count($chits) === 0">
            <div class="text-center">Zatím zde nemáte žádné doklady.</div>
        </div>
    </div>
</div>
