<a n:href="generateNumbers! $paymentMethod->toString ()" n:class="btn, btn-sm, btn-warning, mb-2, ! $hasOnlyNumericChitNumbers ? disabled"
        data-toggle="tooltip" data-placement="top" title="Generovat čísla dokladů lze když stávající obsahují pouze číslice.">
    Dogenerovat čísla dokladů
</a>

<a n:if="! $cashbookType->isUnit() && count($chits) !== 0"
        href="{plink :Accountancy:CashbookExport:printCashbook $cashbookId, $paymentMethod->toString ()}" target="_blank" class="btn btn-sm btn-info mb-2">
    <i class="fas fa-print d-none d-lg-inline"></i>
    {if $paymentMethod->equalsValue('cash')}
        Vytisknout <span class="d-none d-lg-inline">pokladní knihu</span>
    {else}
        Vytisknout bankovní transakce
    {/if}
</a>

<div class="btn-group mb-2">
    <div class="dropdown">
        <button class="btn btn-sm btn-info dropdown-toggle"
                type="button"
                id="excelExportButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <i class="fas fa-table d-none d-lg-inline"></i>&nbsp;Exportovat do excelu&nbsp;<span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="excelExportButton">
            <li>
                <a class="dropdown-item"
                   href="{plink :Accountancy:CashbookExport:exportCashbook $cashbookId, $paymentMethod->toString()}">
                    Jednoduchá šablona
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{plink :Accountancy:CashbookExport:exportCashbookWithCategories $cashbookId, $paymentMethod->toString()}">
                    Šablona s rozepsanými kategoriemi
                </a>
            </li>
        </ul>
    </div>
</div>
