{var $isCash = $paymentMethod->equalsValue('cash')}

<div class="card mb-2">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-xl-2 col-md-4">
                <h4>{$paymentMethod->getName()}</h4>
            </div>
            <div class="col-xl-10 col-md-8 export-panel text-right d-none d-md-block">
                {include 'ChitListControl.topPanel.latte'}
            </div>
        </div>
    </div>
    <div class="panel-body chit-list" n:if="!empty($chits)">
        {form formMass}
            <table class="table table-bordered table-condensed" id="cashbookTable">
                <thead>
                <tr>
                    <th class='col-xs-1'>
                        <input type="checkbox" name="chits-all"
                               class="hidden-xs hidden-sm" data-dependent-checkboxes=".dependent-checkbox"/>
                        <button n:if="$isCash" n:name="massPrintSend" title="Vytisknout vybrané"
                                                       class="btn btn-info btn-sm allDependend-{$paymentMethod} hidden-xs hidden-sm"
                                                       type="submit">
                            <i class="fas fa-print"></i>
                        </button>
                        <button n:if="$canMoveChits" n:name="massMoveSend" title="Přesunout vybrané" role="button" data-toggle="modal"
                           class="btn btn-info btn-sm allDependend-{$paymentMethod} hidden-xs"><i
                                    class="fas fa-step-forward"></i></button>
                        <button n:if="$canMassExport" name="massExportSend" title="Exportovat vybrané"
                                class="btn btn-info btn-sm allDependend-{$paymentMethod}" type="submit"><i
                                    class="fas fa-download"></i></button>
                    </th>
                    <th class="col-xs-1">Ze dne</th>
                    <th class="col-xs-1">Číslo</th>
                    <th>Účel výplaty</th>
                    <th class="hidden-xs hidden-sm">Typ</th>
                    <th class="hidden-xs hidden-sm">Komu/Od koho</th>
                    <th>Příjem</th>
                    <th>Výdej</th>
                    <th>Zůstatek</th>
                </tr>
                </thead>
                <tbody>
                {var $balance = 0}
                {foreach $chits as $chit}
                    {var $isIncome = $chit->isIncome()}
                    {php $balance += $isIncome ? $chit->amount->toFloat() : -$chit->amount->toFloat()}
                    {var $itemsCount = count($chit->items)}
                    <tr>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="dependent-checkbox" style="white-space:nowrap">
                            <input type="checkbox" class="d-none d-lg-inline" name="chits-{$paymentMethod}[]" value={$chit->id}/>
                            <div class="btn-group">
                                <a n:if="$isCash"
                                        href="{plink :Accountancy:CashbookExport:printChits $cashbookId, [$chit->id]}"
                                        target="_blank"
                                        class="btn btn-sm btn-info d-none d-lg-inline"><i
                                            class="fas fa-print"></i></a>
                                <a class="ajax btn btn-sm btn-info d-none d-md-inline" n:href="chitScan:open! $chit->id" title="Skeny dokladů">
                                    <i class="far fa-folder-open"></i>
                                </a>
                                <a n:if="$isEditable && ! $chit->locked" n:href="edit! $chit->id"
                                        class="ajax btn btn-sm btn-primary ui--editChit"><i class="far fa-edit"></i></a>

                                <a n:if="$isEditable && ! $chit->locked" n:href="remove! $chit->id"
                                        onclick="return confirm('Opravdu chcete smazat paragon?')"
                                        class="btn btn-sm btn-danger ui--removeChit"><i class="far fa-trash-alt"></i></a>

                            <a n:if="$isEditable && $chit->locked" n:href="showLocked" title="Paragon je uzamčen."
                                    class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-lock"></i></a>

                            <a n:if="$isEditable && count(array_intersect($validInverseCashbookTypes, $chit->inverseCashbookTypes))"
                                    class="ajax btn btn-sm btn-success hidden-xs hidden-sm" n:href="invertChitDialog:open! $chit->id"
                                    title="Vytvořit protidoklad">
                                <i class="fas fa-exchange-alt"></i>
                            </a>
                        </td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="text-right">
                            {$chit->date|date:'d.m'}<span class="d-none d-lg-inline">.{$chit->date|date:'Y'}</span>
                        </td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} title="{$prefix}{$chit->number}" n:class="array_key_exists((string)$chit->number, $duplicatesNumbers) ? 'alert alert-danger'">{$chit->number}</td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} title="{$chit->purpose}">{$chit->purpose|truncate:"120"}</td>
                        <td class="hidden-xs hidden-sm" title="{$chit->categories}">{$chit->categoriesShortcut}</td>
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} class="hidden-xs hidden-sm">{$chit->recipient}</td>
                        {if $isIncome}
                            <td class="r" title="{$chit->amount->expression}">{$chit->amount->value|price}</td>
                            <td class="r">&nbsp;</td>
                        {else}
                            <td class="r">&nbsp;</td>
                            <td class="r" title="{$chit->amount->expression}">{$chit->amount->value|price}</td>
                        {/if}
                        <td{if $itemsCount > 1} rowspan="{$itemsCount+1}"{/if} n:class="r, $balance < 0 && $isCash ? 'bg-danger'">{$balance|price}</td>
                    </tr>
                    {if $itemsCount > 1}
                        {foreach $chit->items as $item}
                            <tr>
                                <td class="text-muted">{$item->category->shortcut}</td>
                                <td class="r text-muted" colspan="2" title="{$item->amount->expression}">{$item->amount->value|price}</td>
                            </tr>
                        {/foreach}
                    {/if}
                {/foreach}
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="hidden-xs hidden-sm">&nbsp;</td>
                    <td class='hidden-xs hidden-sm'>&nbsp;</td>
                    <td><b>Konečný stav</b></td>
                    <td class="r">{$totalIncome|price}</td>
                    <td class="r">{$totalExpense|price}</td>
                    <td n:class="r, ui--balance, $balance < 0 && $isCash ? 'bg-danger'"><b>{$balance|price}</b></td>
                </tr>
                <tbody>
            </table>
        {/form}

        {if $canMoveChits}
            {control moveChitsDialog}
        {/if}
        {control invertChitDialog}
        {control chitScan}
    </div>
    <div class="panel-body info" n:if="count($chits) === 0">
        <div class="text-center">Zatím zde nemáte žádné doklady.</div>
    </div>
</div>
