<a n:href="generateNumbers! $paymentMethod->toString ()" n:class="btn, btn-sm, btn-warning, mb-2, ! $hasOnlyNumericChitNumbers ? disabled"
        data-toggle="tooltip" data-placement="top" title="Generovat čísla dokladů lze když stávající obsahují pouze číslice.">
    Dogenerovat čísla dokladů
</a>


<div class="btn-group mb-2">
    <div class="dropdown">
        <button class="btn btn-sm btn-info dropdown-toggle"
                type="button"
                id="exportButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            Exporty<span class="caret"></span>
        </button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="exportButton">
            <a n:class="dropdown-item, count($chits) === 0 ? disabled"
                    href="{plink :Accountancy:CashbookExport:exportScans $cashbookId, $paymentMethod->toString ()}" target="_blank">
                <i class="far fa-file-archive"></i>
                Skeny dokladů.zip
            </a>
            <div class="dropdown-divider"></div>
            {if ! $cashbookType->isUnit()}
            <a n:class="dropdown-item, count($chits) === 0 ? disabled"
                    href="{plink :Accountancy:CashbookExport:printCashbook $cashbookId, $paymentMethod->toString ()}" target="_blank">
                <i class="far fa-file-pdf"></i>
                {if $paymentMethod->equalsValue('cash')}
                    Pokladní kniha.pdf
                {else}
                    Bankovní transakce.pdf
                {/if}
            </a>
            <div class="dropdown-divider"></div>
            {/if}
            <a n:class="dropdown-item, count($chits) === 0 ? disabled"
               href="{plink :Accountancy:CashbookExport:exportCashbook $cashbookId, $paymentMethod->toString()}">
                <i class="far fa-file-excel"></i> Pokladní kniha.xlsx
            </a>
            <a n:class="dropdown-item, count($chits) === 0 ? disabled"
               href="{plink :Accountancy:CashbookExport:exportCashbookWithCategories $cashbookId, $paymentMethod->toString()}">
                <i class="far fa-file-excel"></i> Pokladní kniha rozšířená.xlsx
            </a>
        </div>
    </div>
</div>
