services:
    - Model\Infrastructure\Repositories\Payment\BankAccountRepository
    - Model\Infrastructure\Repositories\Payment\GroupRepository
    - Model\Payment\UnitResolverStub

    - class: Model\Payment\Handlers\Group\ChangeGroupUnitHandler
      tags: [commandBus.handler]

includes:
    - ../../../config/doctrine.neon
