{block #subMenu}{include ../header.latte}{/block}

{block content}
<div data-test="unit-cashbook-page">
    <div class="card page-heading">
        <div class="card-body">
            <h1 n:inner-block="title" class="h3 mb-2">{$unitPairs[$unitId]}</h1>
            {include pageLead, default: 'Evidence plateb, přehled dokladů a rozpočet pro vybranou jednotku na jednom místě.'}
        </div>
    </div>

    <div n:snippet="paragony">
        {control cashbook}
    </div>
    {control activateCashbookDialog}
    {control createCashbookDialog}
</div>
{/block}
