{block #content}
{include ../menu.latte}
<div class="row justify-content-center">
    <div class="col-8 main-panel">
        <div class="card">
            <div class="card-header"><h3 n:inner-block="title">Nová smlouva o proplácení cestovních náhrad</h3></div>
            <div class="card-body">
                {control formCreateContract}
            </div>
        </div>
    </div>
</div>
