{block #title}{$event->getDisplayName()} - rozpočet{/block}
{block #content}

{include ../header.latte}

<div class="alert alert-danger">
    <h4 class="alert-heading">Chybějící kategorie!</h4>
    <p>
        Nepodařilo se načíct všechny rozpočtové kategorie a tedy nelze rozpočet zobrazit. <b>Zkontrolujte, že máte povolené aktivní dopočítávání kategorií u tábora!</b>
    </p>
</div>
