{block #content}
<h1>Přihlášení vypršelo. Přihlaste se <a n:href=":Default: $backlink">zde</a></h1>

<script>
    setTimeout(function() { window.location.href={link :Default: $backlink}; }, 1000);
</script>
