{layout $layout}

{define control $input, $extraClasses}
    <input n:name="$input" n:class="$input->hasErrors() ? 'is-invalid', form-control, $extraClasses ?? ''">
{/define}

{define errors $input}
    <div class="invalid-feedback d-block" n:foreach="$input->getErrors() as $error">{$error}</div>
{/define}


{block dialog-title}Založit pokladní knihu{/block}

{block dialog-body}
        <p>Vyberte rok, pro který si přejete založit pokladní knihu</p>
        {control form}


{/block}