@media (min-width: 768px) {
    body {
        padding-top: 120px;
    }
}

@media (max-width: 767px), (min-width: 992px) {
    body {
        padding-top: 60px;
    }
}

.main-panel {
    margin-top: 30px;
}

.fail {
    background-color: #ff0000;
}

#topAlertBox {
    position:fixed;
    top:45px;
    width: 100%;
    z-index: 1100;
    text-align: center;
}

#topAlertBox ul li{
    list-style-type: none;
}
#topAlertBox ul li span{
    padding: 1px 15px;
    background-color: yellow;
    font-weight: bold;
}

.num-edit, .price-edit, .text-edit {
    cursor: text;
    height: 1.5em;
}

td:hover .num-edit:not(:focus):after, .price-edit:hover:not(:focus):after, .text-edit:hover:not(:focus):after  {
    content: url(../images/inline-edit.png);
}

.onEdit {
    border: 2px outset !important;
}

[draggable=true]:hover{
    font-weight: bold;
    cursor: move;
}

tbody.dropableOver td {
    opacity: 0.6;
    background-color: #ccc!important;
}

.required {
    color: maroon;
}

.myTable {
    margin: 0 0 18px;
    width: auto;
}

.myModal {
    display: none;
}

.roleSelect {
    font-size: 12px;
    margin: 0 4px 0;

}

#cashbook-tabs {
    width: 280px;
    float: left;
    margin-right: 8px;
}

#cashbook-tabs input[type="text"], #cashbook-tabs input.date, #cashbook-tabs input[type="number"] {
    width: 160px;
}
#cashbook-tabs .ui-tabs-panel {
    padding: 0.3em 0 0.5em 0.3em;
}

#cashbook-tabs form {
    margin: 0;
}

form.filter{
    margin-bottom: 0px;
}

form.filter input{
    margin-bottom: 5px;
}
form.filter select{
    width: auto;
    margin-left: 5px;
}

form.nonMargin, form.nonMargin input {
    margin: 0;
}

.findByName input.combobox-text {
    width: 150px;
}

.inout input.combobox-text {
    width: 150px;
}

.bm12 {
    margin-bottom: 12px;
}

/*JQuery UI */
.ui-widget {
    font-size: 0.9em;
    line-height: 1em;
}


.ui-datepicker {
    width: 15em;
}

form label {
    display: inline;
}

input[type="checkbox"], input[type="radio"] {
    margin: 3px;
}

#cashbook-tabs table th {
    width: 100px;
}

#participants-list form{
    margin: 0;
}

#participants-list input {
    margin-bottom: 0;
    padding: 2px 0 2px 4px;
}

.isMinus {
    background-color:#ff5500;
}


#chitType {
    margin-bottom: 0;
}

#chitTypeContent {
    border-right:1px solid #DDDDDD;
    padding-top:20px;
}


/* zrušení spinneru pro fancybox*/
#fancybox-loading {
    display: none;
}

#ajax-spinner {
    background: #000000 url('../images/layout/pacman-loader.gif') no-repeat 50% 50%;
    height: 60px;
    width: 60px;
    margin: 0;
    border-radius: 6px;
    opacity : 0.9;
    z-index: 123456;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

.ct { /* ct = center, top*/
    text-align: center;
    vertical-align: text-top;
}
td.r, th.r, .r {text-align: right;}
.b {font-weight: bold;}

td.vm, th.vm {
    vertical-align: middle;
}

.tutorial .figure {
    padding: 5px 0;
    border: 2px dotted #ccc;
    float: left;
    text-align: center;
    margin-bottom: 10px; 
}
.tutorial ol, .tutorial ul, .tutorial h2 {
    clear: left;
}

/*h2[id], h3[id] {  nadpisy na ktere je odkaz a musi byt vice odsazeny 
    padding-top: 45px;
}*/

footer {
    text-align: center;
}

.l {
    text-align: left;
}

/* Homepage */
/*#front-carousel {
  height: 500px;
  margin-bottom: 60px;
}*/

#front-carousel .item div.carousel-caption {
    /*z-index: 10;*/
    text-align: left;
    left: 4%;
    right: 3%;
    color: #333;
    text-shadow: none;
}

#front-carousel .carousel-indicators li {
    background-color: #777;
}

#front-carousel .carousel-control {
    width: 3%;
    color: #333;
    background-image: none;
}

/* Declare heights because of positioning of img element */
#front-carousel .item {
  height: 430px;
}

#front-carousel .item img {
    margin-left: 20px;
    /*padding: 0 63px;*/
}

#front-carousel h4 {
    margin: 0 0 5px;
}
#front-carousel .hero-unit h1 {
    font-size: 58px;
}

.nowrap {
    white-space:nowrap;
}

.functions {
    display: flex;
}
.functions > .btn {
    margin-right: 7px;
}
.functions form {
    display: flex;
    flex: 1;
}

.functions input[type="submit"] {
    margin-left: 7px;
}

.fn-info {
    margin-left: 10px;
    vertical-align: middle;
}

.panel-heading h4 {
    margin-top: 6px;
    margin-bottom: 4px;
}

.event-dashboard {
    margin-top: 18px;
}


//bootstrap3 typeahead
.typeahead {
    z-index: 1051;
}

/*
.hiddenText {
    color: #000000 !important;
}
*/


/* jquery.placeholder.min.js */
.placeholder { color: #aaa; }

.dropdown-form {
    padding: 15px;
    white-space: nowrap;
}

.dropdown-form label {
    padding-right: 10px;
}

.back {
    margin: 0 15px 0 0;
}

.button-bar {
    padding-bottom: 20px;
}

.button-bar .btn {
    margin-top: 20px;
}

.inline-block {
    display: inline-block;
}

.chit-list table {
    margin-bottom: 0;
    border-width: 0;
}

.panel-body.chit-list {
    padding: 0;
}

/*
 * Highlight of active payment
 */

@-webkit-keyframes target {
    from {
        background: #ffffff;
    }
    50% {
        background: #ffffd3;
    }
    to {
        background: #ffffff;
    }
}

[id^="payment-"]:target {
    -webkit-animation: target .8s ease-in;
}

.note-form {
    margin-top: 10px;
}

.no-cashbook {
    margin-top: 20px;
}

@media (max-width: 767px), (min-width: 992px) {
    .btn-toolbar .btn-group-shifted {
        margin-top: 2px;
        margin-right: 30px;
    }
}

.open > ul > li.hz {
    display: flex !important;
}

li.hz a:first-of-type {
    flex-grow: 7;
}
