{block content}
<h1 class="mt-4">Nová akce</h1>

<div class="row">
    <div class="col-lg-6">
        {control form}
    </div>
(+) orientační údaj, slouží pro statistiku a nemá vliv na funkce vyúčtování
